{% extends 'base.html' %}

{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>填写Proxy信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <form id="groupForm" method="post" class="form-horizontal" action="">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success text-center">{{ msg }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="proxy_name" class="col-sm-2 control-label">Proxy名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="proxy_name" name="proxy_name"  type="text" class="form-control" value="{{ proxy_name }}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="user_name" class="col-sm-2 control-label">用户名<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="user_name" name="user_name"  type="text" class="form-control" value="{{ user_name }}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="user_password" class="col-sm-2 control-label">用户密码<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="user_password" name="user_password"  type="password" class="form-control" value="{{ password }}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="url" class="col-sm-2 control-label">url<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="proxy_url" name="proxy_url"  type="text" class="form-control" value="{{ proxy_url }}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-8">
                                    <input id="comment" name="comment"  type="text" class="form-control" value="{{ comment }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block self_footer_js %}
<script>
$('#groupForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    fields: {
        "proxy_name": {
            rule: "required",
            tip: "用户输入Proxy名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "user_name": {
            rule: "required",
            tip: "输入用户名",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "user_password": {
            rule: "required",
            tip: "输入用户密码",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "proxy_url": {
            rule: "required",
            tip: "输入url",
            ok: "",
            msg: {required: "必须填写!"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});

</script>
{% endblock %}