{% extends 'base.html' %}
{% block self_head_css_js %}
    <link href="/static/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
{% endblock %}
{% load mytags %}
{% load bootstrap %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<script type="text/javascript">
$(function(){
    $('#myTabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show')
    })
})
</script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 填写资产基本信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                  <form id="assetForm" method="post" class="form-horizontal" name="assetForm">
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit" style="margin-left: 20px"> 提交 </button>
                          &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-white" type="reset"> 取消 </button>
                      </div>
                      {% if error %}
                          <div class="alert alert-warning text-center">{{ error }}</div>
                      {% endif %}
                      {% if msg %}
                          <div class="alert alert-success text-center">{{ msg }}</div>
                      {% endif %}
                    <div id="myTabs">
                      <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">常规</a></li>
                            <li role="presentation"><a href="#networkingglobal" aria-controls="profile" role="tab" data-toggle="tab">全局网络管理</a></li>
                            <li role="presentation"><a href="#networking" aria-controls="messages" role="tab" data-toggle="tab">网络</a></li>
                            <li role="presentation"><a href="#powermanage" aria-controls="settings" role="tab" data-toggle="tab">电源管理</a></li>
                      </ul>

                      <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="general">
                                <div class="ibox-content">
                                    {{ af.name|bootstrap_horizontal}}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.port|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.username|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label for="password" class="col-sm-2 control-label">密码</label>
                                        <div class="col-sm-8">
                                            <input id="password" name="password" placeholder="Password" type="password" class="form-control">
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label for="profile" class="col-sm-2 control-label">所属代理</label>
                                        <div class="col-sm-8">
                                            <select name="proxy" id="proxy" data-placeholder="请选择代理" class="chosen-select form-control m-b"  tabindex="2" onChange="redirec(document.assetForm.proxy.options.selectedIndex)">
                                                <option value="请选择proxy">请选择proxy</option>
                                                {% for proxy in proxys %}
                                                    <option value="{{ proxy.id }}">{{ proxy.proxy_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label for="profile" class="col-sm-2 control-label">用户配置文件</label>
                                        <div class="col-sm-8">
                                            <select name="profile" id="profile" data-placeholder="请选择profile" class="chosen-select form-control m-b"  tabindex="2" >
                                                <option value="请选择profile" selected>请选择profile</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    {{ af.kickstart|bootstrap_horizontal }}

                                     <div class="hr-line-dashed"></div>
                                     <div class="form-group"><label class="col-sm-2 control-label"> 网络引导 <span class="red-fonts"> *</span> </label>
                                        <div class="col-sm-8">
                                            <div class="radio i-checks">
                                                <label> <input type="radio" checked="" value="1" name="is_enabled">激活 </label>
                                                <label> <input type="radio" value="0" name="is_enabled"> 禁用</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                      {{ af.group|bootstrap_horizontal }}
                                    <p>Hold down "Control", or "Command" on a Mac, to select more than one. </p>

                                    <div class="hr-line-dashed"></div>
                                    {{ af.idc|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.cabinet|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.number|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.machine_status|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.asset_type|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group"><label class="col-sm-2 control-label"> 是否激活<span class="red-fonts"> *</span> </label>
                                        <div class="col-sm-8">
                                            <div class="radio i-checks">
                                                <label> <input type="radio" checked="" value="1" name="is_active">激活 </label>
                                                <label> <input type="radio" value="0" name="is_active"> 禁用</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    {{ af.comment|bootstrap_horizontal }}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="networkingglobal">
                               <div class="ibox-content">
                                    {{ nfg.hostname|bootstrap_horizontal}}

                                    <div class="hr-line-dashed"></div>
                                    {{ nfg.gateway|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ nfg.name_servers|bootstrap_horizontal }}
                               </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="networking">
                              <div class="ibox-content">

                                {{ nf.net_name|bootstrap_horizontal }}

                                {{ nf.mac_address|bootstrap_horizontal }}

                                {{ nf.mtu|bootstrap_horizontal }}

                                {{ nf.ip_address|bootstrap_horizontal }}

                                {{ nf.static|bootstrap_horizontal }}

                                {{ nf.subnet_mask|bootstrap_horizontal }}

                                {{ nf.per_gateway|bootstrap_horizontal }}

                                {{ nf.dns_name|bootstrap_horizontal }}

                                {{ nf.static_routes|bootstrap_horizontal }}
                              </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="powermanage">
                                <div class="ibox-content">
                                    {{ pf.power_type|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ pf.power_address|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ pf.power_username|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ pf.power_password|bootstrap_horizontal }}
                                </div>
                            </div>
                      </div>
                   </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block self_footer_js %}
<script type="text/javascript">
    //获取一级菜单长度
    var select1_len = document.assetForm.proxy.options.length;
    var select2 = new Array(select1_len);
    //把一级菜单都设为数组
    for (i = 0; i < select1_len; i++) {
        select2[i] = new Array();
    }
    select2[0][0] = new Option('请选择profile','');
    var pcount = 1;
    {% for proxy in proxys %}
        var mcount = 0;
        {% for k , v in proxy_profiles.items %}
            {% ifequal k proxy.proxy_name %}
                {% for item in v %}
                    select2[pcount][mcount] = new Option('{{ item }}', '{{ item }}');
                    mcount += 1;
                {% endfor %}
            {% endifequal %}
        {% endfor %}
        pcount += 1;
    {% endfor %}

    //联动函数
    function redirec(x) {
        var temp = document.assetForm.profile;
        for (i = 0; i < select2[x].length; i++) {
            temp.options[i] = new Option(select2[x][i].text, select2[x][i].value);
        }
        temp.options[0].selected = true;
    }

</script>
    <script src="/static/js/cropper/cropper.min.js"></script>
    <script src="/static/js/datapicker/bootstrap-datepicker.js"></script>
{% endblock %}
