{% extends 'base.html' %}
{% block self_head_css_js %}
    <link href="/static/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
    <link href="/static/css/plugins/chosen/chosen.css" rel="stylesheet">
    <script src="/static/js/plugins/chosen/chosen.jquery.js"></script>
{% endblock %}
{% load mytags %}
{% load bootstrap %}
{% block content %}
{% include 'nav_cat_bar.html' %}

<script type="text/javascript">
$(function(){
    $('#myTabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show')
    })
})
</script>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-10">
            <div class="ibox float-e-margins">
                <div id="ibox-content" class="ibox-title">
                    <h5> 填写资产基本信息 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                  <form id="assetForm" method="post" class="form-horizontal">
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit" style="margin-left: 20px"> 提交 </button>
                          &nbsp;&nbsp;&nbsp;
                        <button class="btn btn-white" type="reset"> 取消 </button>
                      </div>
                      {% if error %}
                          <div class="alert alert-warning text-center">{{ error }}</div>
                      {% endif %}
                      {% if msg %}
                          <div class="alert alert-success text-center">{{ msg }}</div>
                      {% endif %}
                    <div id="myTabs">
                      <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">常规</a></li>
                            <li role="presentation"><a href="#networkingglobal" aria-controls="profile" role="tab" data-toggle="tab">全局网络管理</a></li>
                            <li role="presentation"><a href="#networking" aria-controls="messages" role="tab" data-toggle="tab">网络</a></li>
                            <li role="presentation"><a href="#powermanage" aria-controls="settings" role="tab" data-toggle="tab">电源管理</a></li>
                      </ul>

                      <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="general">
                                <div class="ibox-content">
                                    {{ af.name|bootstrap_horizontal}}

{#                                    <div class="hr-line-dashed"></div>#}
{#                                    {{ af.ip|bootstrap_horizontal }}#}
{#                                    <p class="col-sm-offset-2">Tips: 如果IP地址不填写, IP默认会设置与主机名一致</p>#}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.port|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.username|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.password|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.owerns|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label for="profile" class="col-sm-2 control-label">Profile</label>
                                        <div class="col-sm-8">
                                            <select name="profile" id="profile" data-placeholder="请选择profile" class="chosen-select form-control m-b" multiple  tabindex="2">
                                                {% for profile in profiles %}
                                                    <option value="{{ profile }}">{{ profile }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    {{ af.status|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.kickstart|bootstrap_horizontal }}

                                     <div class="hr-line-dashed"></div>
                                     <div class="form-group"><label class="col-sm-2 control-label"> netboot enabled<span class="red-fonts"> *</span> </label>
                                        <div class="col-sm-8">
                                            <div class="radio i-checks">
                                                <label> <input type="radio" checked="" value="1" name="is_enabled">激活 </label>
                                                <label> <input type="radio" value="0" name="is_enabled"> 禁用</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                      {{ af.group|bootstrap_horizontal }}
                                    <p>Hold down "Control", or "Command" on a Mac, to select more than one. </p>

                                    <div class="hr-line-dashed"></div>
                                    {{ af.proxy|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.idc|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.cabinet|bootstrap_horizontal }}


                                    <div class="hr-line-dashed"></div>
                                    {{ af.number|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.machine_status|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.asset_type|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ af.sn|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group"><label class="col-sm-2 control-label"> 是否激活<span class="red-fonts"> *</span> </label>
                                        <div class="col-sm-8">
                                            <div class="radio i-checks">
                                                <label> <input type="radio" checked="" value="1" name="is_active">激活 </label>
                                                <label> <input type="radio" value="0" name="is_active"> 禁用</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="hr-line-dashed"></div>
                                    {{ af.comment|bootstrap_horizontal }}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="networkingglobal">
                               <div class="ibox-content">
                                    {{ nfg.hostname|bootstrap_horizontal}}

                                    <div class="hr-line-dashed"></div>
                                    {{ nfg.gateway|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ nfg.name_servers|bootstrap_horizontal }}
                               </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="networking">
                              <div class="ibox-content">

                                {{ nf.net_name|bootstrap_horizontal }}

                                {{ nf.mac_address|bootstrap_horizontal }}

                                {{ nf.mtu|bootstrap_horizontal }}

                                {{ nf.ip_address|bootstrap_horizontal }}

                                {{ nf.static|bootstrap_horizontal }}

                                {{ nf.subnet_mask|bootstrap_horizontal }}

                                {{ nf.per_gateway|bootstrap_horizontal }}

                                {{ nf.dns_name|bootstrap_horizontal }}

                                {{ nf.static_routes|bootstrap_horizontal }}
                              </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="powermanage">
                                <div class="ibox-content">
                                    {{ pf.power_type|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ pf.power_address|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ pf.power_username|bootstrap_horizontal }}

                                    <div class="hr-line-dashed"></div>
                                    {{ pf.power_password|bootstrap_horizontal }}

                                </div>
                            </div>
                      </div>
                   </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block self_footer_js %}
<script>

var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                '.chosen-select-width'     : {width:"95%"}
            };

for (var selector in config) {
    $(selector).chosen(config[selector]);
}

</script>
    <script src="/static/js/cropper/cropper.min.js"></script>
    <script src="/static/js/datapicker/bootstrap-datepicker.js"></script>
{% endblock %}
