{% extends 'base.html' %}
{% load mytags %}
{% load bootstrap %}
{% block content %}


<script type="text/javascript">
$(function(){
    $('#myTabs a').click(function (e) {
      e.preventDefault();
      $(this).tab('show')
    })
})
</script>
<div class="row">
    <div class="col-sm-10">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
              <form id="assetForm" method="post" class="form-horizontal" name="assetForm">
                  <div class="form-group">
                    <button class="btn green" type="submit" style="margin-left: 20px"> 提交 </button>
                    <button class="btn grey-salsa btn-outline" type="reset"id="btn_reset"> 取消 </button>
                  </div>
                  {% if error %}
                      <div class="alert alert-warning text-center">{{ error }}</div>
                  {% endif %}
                  {% if msg %}
                      <div class="alert alert-success text-center">{{ msg }}</div>
                  {% endif %}
                <div id="myTabs">
                  <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">常规</a></li>
                        <li role="presentation"><a href="#networkingglobal" aria-controls="profile" role="tab" data-toggle="tab">全局网络管理</a></li>
                        <li role="presentation"><a href="#networking" aria-controls="messages" role="tab" data-toggle="tab">网络</a></li>
                        <li role="presentation"><a href="#powermanage" aria-controls="settings" role="tab" data-toggle="tab">电源管理</a></li>
                  </ul>

                  <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="general">
                            <div class="ibox-content">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">名字</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="name" readonly value="{{ asset_info.name }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">端口号</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="port" value="{{ asset_info.port }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">管理用户名</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <input type="text" class="form-control" name="username" value="{{ asset_info.username }}"> </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">密码</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-lock fa-fw"></i>
                                            </span>
                                            <input type="password" class="form-control" name="password" value="{{ asset_info.password|passwd_decode }}"> </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">所属代理</label>
                                    <div class="col-md-6">
                                        <select name="proxy" id="proxy" data-placeholder="请选择代理" class="form-control" onChange="redirec(document.assetForm.proxy.options.selectedIndex)">
                                            <option value="请选择proxy">请选择proxy</option>
                                            {% for proxy in proxys %}
                                                <option value="{{ proxy.id }}" {% ifequal proxy asset_info.proxy %}selected {% endifequal %}>{{ proxy.proxy_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label  class="col-md-3 control-label">用户配置文件</label>
                                    <div class="col-md-6">
                                        <select name="profile" id="profile" data-placeholder="请选择profile" class="form-control">
                                            <option value="{{ asset_info.profile }}" selected>{{ asset_info.profile }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">创建元数据</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="kickstart" value="{{ asset_info.kickstart }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">网络引导</label>
                                    <div class="col-md-9">
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio">
                                                <input type="radio" name="is_enabled" value="1" {% if asset_info.netboot_enabled %}checked {% endif %}> 激活
                                                <span></span>
                                            </label>
                                            <label class="mt-radio">
                                                <input type="radio" name="is_enabled"  value="0" {% if not asset_info.netboot_enabled %}checked {% endif %}> 禁用
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3">所属主机组
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="group" multiple>
                                            {% for item in group_all %}
                                            <option value="{{ item.id }}" {% if item in select_groups %} selected="selected" {% endif %}>{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="help-block"> select max 10 options, min 1 option </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">所属机房</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="idc">
                                            {% for item in idc_all %}
                                                 <option value="{{ item.id }}" {% ifequal item asset_info.idc %} selected="selected" {% endifequal %}>{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">机柜号</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="cabinet" value="{{ asset_info.cabinet }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">资产编号</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="number" value="{{ asset_info.number }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">机器状态</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="machine_status">
                                            {% for k,v in asset_status.items %}
                                                 <option value="{{ k }}"  {% ifequal k machine_status %} selected="selected" {% endifequal %} >{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">主机类型</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="asset_type">
                                            {% for k,v in asset_type.items %}
                                                 <option value="{{ k }}" {% ifequal k machine_type %} selected="selected" {% endifequal %}>{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">是否激活</label>
                                    <div class="col-md-9">
                                        <div class="mt-radio-inline">
                                            <label class="mt-radio">
                                                <input type="radio" name="is_active" value="1"  {% if asset_info.is_active %}checked{% endif %}> 激活
                                                <span></span>
                                            </label>
                                            <label class="mt-radio">
                                                <input type="radio" name="is_active"  value="0" {% if not asset_info.is_active %} checked {% endif %}> 禁用
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">备注</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="comment" value="{{ asset_info.comment }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="networkingglobal">
                           <div class="ibox-content">
                                 <div class="form-group">
                                    <label class="col-md-3 control-label">主机名</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="hostname" value="{{ nt_g.hostname }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">网关</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="gateway" value="{{ nt_g.gateway }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">域名服务器</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="name_servers" value="{{ nt_g.name_servers }}">
                                    </div>
                                </div>
                           </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="networking">
                          <div class="ibox-content">
                              <div class="form-group">
                                    <label class="col-md-3 control-label">添加网卡</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="net_name" value="{{ net.net_name }}">
                                    </div>
                                </div>
                              <div class="form-group">
                                    <label class="col-md-3 control-label">MAC地址</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="mac_address" value="{{ net.mac_address }}">
                                    </div>
                                </div>
                              <div class="form-group">
                                    <label class="col-md-3 control-label">最大传输单元</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="mtu" value="{{ net.mtu }}">
                                    </div>
                              </div>
                              <div class="form-group">
                                    <label class="col-md-3 control-label">IP地址</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="ip_address" value="{{ net.ip_address }}">
                                    </div>
                              </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">static</label>
                                <div class="col-md-9">
                                    <label class="mt-checkbox">
                                        <input type="checkbox" name="static" value="1" {% if net.static %}checked{% endif %}>
                                        <span></span>
                                    </label>
                                </div>
                             </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">子网掩码</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="subnet_mask" value="{{ net.subnet_mask }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">默认网关</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="per_gateway" value="{{ net.per_gateway }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">DNS名称</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="dns_name" value="{{ net.dns_name }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">静态路由</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="static_routes" value="{{ net.static_routes }}">
                                </div>
                            </div>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="powermanage">
                            <div class="ibox-content">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">电源管理类型</label>
                                    <div class="col-md-6">
                                        <select class="form-control" name="power_type">
                                            {% for k,v in power_type.items %}
                                                 <option value="{{ k }}" {% ifequal k power_t %} selected="selected" {% endifequal %}>{{ v }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">电源管理地址</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="power_address" value="{{ pm.power_address }}">
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <label class="col-md-3 control-label">电源管理用户名</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                                            <input type="text" class="form-control" name="power_username" value="{{ pm.power_username }}"> </div>
                                    </div>
                                </div>
                                  <div class="form-group">
                                    <label class="col-md-3 control-label">电源管理用户密码</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-lock fa-fw"></i>
                                            </span>
                                            <input type="password" class="form-control" name="power_password" value="{{ pm.power_password }}"> </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                  </div>
               </div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block self_footer_js %}
     <script src="/static/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script type="text/javascript">
    //获取一级菜单长度
    var select1_len = document.assetForm.proxy.options.length;
    var select2 = new Array(select1_len);
    //把一级菜单都设为数组
    for (i = 0; i < select1_len; i++) {
        select2[i] = new Array();
    }
    select2[0][0] = new Option('请选择profile','');
    var pcount = 1;
    {% for proxy in proxys %}
        var mcount = 0;
        {% for k , v in proxy_profiles.items %}
            {% ifequal k proxy.proxy_name %}
                {% for item in v %}
                    select2[pcount][mcount] = new Option('{{ item }}', '{{ item }}');
                    mcount += 1;
                {% endfor %}
            {% endifequal %}
        {% endfor %}
        pcount += 1;
    {% endfor %}

    //联动函数
    function redirec(x) {
        var temp = document.assetForm.profile;
        for (i = 0; i < select2[x].length; i++) {
            temp.options[i] = new Option(select2[x][i].text, select2[x][i].value);
        }

        temp.options[0].selected = true;

    }
$(document).ready(function(){
    $('#btn_reset').click(function(){
            window.location.href = '{% url 'asset_list' %}'
        })
})
</script>
{% endblock %}