{% extends 'base.html' %}
{% load mytags %}
{% load humanize %}

{% block content %}


<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md-12">
    <div class="profile-content">
    <div class="row">
        <div class="col-md-6">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font "></i>
                        <span class="caption-subject font-blue-madison bold uppercase">主机详细信息</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <tr>
                                <td > <span class="bold theme-font">主机名</span> </td>
                                <td>{{ asset.name|default_if_none:""  }}</td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font"> 远程管理卡</span> </td>
                                <td>
                                     <table class="table">
                                            <tr>
                                                <td>{{ asset.power_manage.power_type|default_if_none:"" }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ asset.power_manage.power_address|default_if_none:"" }}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ asset.power_manage.power_username|default_if_none:"" }}</td>
                                            </tr>

                                     </table>
                                </td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font"> 端口 </span> </td>
                                <td>{{ asset.port|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">主机组 </span> </td>
                                <td>
                                     <table class="table">
                                         {% for asset_group in asset.group.all %}
                                            <tr>
                                                <td>{{ asset_group.name|default_if_none:"" }}</td>
                                            </tr>
                                         {% endfor %}
                                     </table>
                                </td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">网卡</span> </td>
                                <td>
                                     <table class="table">
                                         {% for asset_net in asset.networking.all %}
                                            <tr>
                                                <td>{{ asset_net.net_name|default_if_none:"" }}</td>
                                                <td>{{ asset_net.ip_address|default_if_none:"" }}</td>
                                            </tr>
                                         {% endfor %}
                                     </table>
                                </td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font"> 机房</span> </td>
                                <td>{{ asset.idc.name|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td><span class="bold theme-font"> 硬件厂商型号</span> </td>
                                <td>{{ asset.brand|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font"> CPU</span> </td>
                                <td>{{ asset.cpu|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">内存</span> </td>
                                <td>{{ asset.memory|default_if_none:"" }}{% if asset.memory %}G{% endif %}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">硬盘</span></td>
                                <td>
                                    <table class="table">
                                    {% if asset.disk %}
                                         {% for disk, value in asset.disk|str_to_dic %}
                                            <tr>
                                                <td><span class="text-navy">{{ disk|default_if_none:"" }}</span> &nbsp&nbsp&nbsp {{ value|default_if_none:"" }}</td>
                                            </tr>
                                         {% endfor %}
                                    {% endif %}
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">资产编号</span></td>
                                <td>{{ asset.number|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">SN</span></td>
                                <td>{{ asset.sn|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">主机类型</span></td>
                                <td>{{ asset.get_asset_type_display|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">系统版本</span></td>
                                <td>{{ asset.system_type|default_if_none:"" }} {{ asset.system_version|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">系统平台</span></td>
                                <td>{{ asset.system_arch|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">运行环境</span></td>
                                <td>{{ asset.get_env_display|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td><span class="bold theme-font">机器状态</span></td>
                                <td>{{ asset.get_status_display|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">机柜号</span></td>
                                <td>{{ asset.cabinet|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td><span class="bold theme-font">机柜位置</span></td>
                                <td>{{ asset.position|default_if_none:"" }}</td>
                            </tr>
                            <tr>
                                <td><span class="bold theme-font">激活</span></td>
                                <td>{{ asset.is_active|bool2str }}</td>
                            </tr>
                            <tr>
                                <td><span class="bold theme-font">添加日期</span></td>
                                <td>{{ asset.date_added|date:"Y-m-d H:i:s" }}</td>
                            </tr>
                            <tr>
                                <td ><span class="bold theme-font">备注</span></td>
                                <td>{{ asset.comment|default_if_none:"" }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
        <div class="col-md-6">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font "></i>
                        <span class="caption-subject font-blue-madison bold uppercase">主机授权信息</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        {% if perm_info %}
                            {% if user_perm %}
                                <table class="table table-hover table-light">
                                    <p>授权用户信息</p>
                                    <td ><span class="bold theme-font">授权用户</span></td>
                                    <td ><span class="bold theme-font">关联用户</span></td>
                                    {% for perm in user_perm %}
                                        <tr>
                                            <td ><a href="{% url 'user_detail' %}?id={{ perm.0.id }}">{{ perm.0 }}</a></td>
                                            <td>
                                                <table class="table">
                                                {% if perm.1 %}
                                                     {% for role in perm.1 %}
                                                        <tr>
                                                            <td ><a href="{% url 'role_detail' %}?id={{ role.id }}">{{ role }}</a></td>
                                                        </tr>
                                                     {% endfor %}
                                                {% endif %}
                                                </table>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                            {% if user_group_perm %}
                                <table class="table table-hover table-light">
                                    <p>授权用户组信息</p>
                                    <td >授权用户组</td>
                                    <td >组详情</td>
                                    {% for user_group in user_group_perm %}
                                        <tr>
                                            <td >{{ user_group }}</td>
                                            <td ><a href="{% url 'user_group_list' %}?gid={{ user_group.id }}">详情</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                            {% if user_rule_perm %}
                                <table class="table table-hover table-light">
                                    <p>授权规则信息</p>
                                    <td >授权规则</td>
                                    <td >详情</td>
                                    {% for rule in user_rule_perm %}
                                        <tr>
                                            <td >{{ rule }}</td>
                                            <td ><a href="{% url 'rule_detail' %}?id={{ rule.id }}">详情</a></td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                    {% else %}
                        <p>(暂无)</p>
                    {% endif %}
                    </div>
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
    </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-microphone font-green"></i>
                    <span class="caption-subject bold font-green uppercase"> 主机修改记录 </span>
                    <span class="caption-helper">最近几次修改记录</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="timeline">
                    <div class="timeline">
                    {% if asset_record %}
                        {% for r in asset_record %}
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <div class="timeline-icon">
                                        <i class="icon-docs font-red-intense"></i>
                                    </div>
                                </div>
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"> </div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <span class="timeline-body-alerttitle font-green-haze">{{ r.username }}</span>
                                            <span class="timeline-body-time font-grey-cascade">{{ r.alert_time }}</span>
                                        </div>
                                    </div>
                                    <div class="timeline-body-content">
                                        {% for i in r.content|str_to_list %}
                                            <span class="font-grey-cascade">
                                                {{ i.0 }} 由 <span class="text-success">{{ i.1|str_to_code }}</span> 改为 <span class="text-warning">{{ i.2|str_to_code }}</span>
                                            </span>
                                            <br/>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>(暂无)</p>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light portlet-fit bg-inverse ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-microphone font-red"></i>
                    <span class="caption-subject bold font-red uppercase"> 用户登录主机记录</span>
                    <span class="caption-helper">最近几次登录记录</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="timeline  white-bg ">
                    <!-- TIMELINE ITEM -->
                    {% if log %}
                        {% for l in log %}
                            <div class="timeline-item">
                                <div class="timeline-badge">
                                    <div class="timeline-icon">
                                        <i class="icon-user-following font-green-haze"></i>
                                    </div>
                                </div>
                                <div class="timeline-body">
                                    <div class="timeline-body-arrow"> </div>
                                    <div class="timeline-body-head">
                                        <div class="timeline-body-head-caption">
                                            <span class="timeline-body-alerttitle font-red-intense">{{ l.user }}</span>
                                        </div>
                                    </div>
                                    <div class="timeline-body-content">
                                        <p><strong>详细信息</strong></p>
                                        <span class="font-grey-cascade"> 来源IP: {{ l.remote_ip }}</span>
                                        <br>
                                        <span class="font-grey-cascade">开始时间: {{ l.start_time |date:"Y-m-d H:i:s" }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}