{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}

        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="/static/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/static/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
{% include 'nav_cat_bar.html' %}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="add_asset" class="btn sbold green">添加资产
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">更多操作
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a name="{% url 'asset_del' %}?arg=batch" class="del_batch">
                                                     删除所选 </a>
                                    </li>
                                    <li>
                                        <a name="{% url 'asset_update_batch' %}" class="update">
                                            更新 </a>
                                    </li>
                                    <li>
                                        <a name="{% url 'asset_action' 'on' %}" class="start_up">
                                             开机</a>
                                    </li>
                                    <li>
                                        <a name="{% url 'asset_action' 'reboot' %}" class="restart">
                                             重启</a>
                                    </li>
                                    <li>
                                        <a name="{% url 'asset_action' 'off' %}" class="shutdown">
                                             关机</a>
                                    </li>
                                    <li>
                                        <a name="{% url 'asset_action' 'rebuild' %}" class="rebuild">
                                             重装系统</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" id="select_all" name="select_all"/>
                                    <span></span>
                                </label>
                            </th>
                            <th> 主机名 </th>
                            <th> IP地址 </th>
                            <th> IDC </th>
                            <th>所属主机组</th>
                            <th>所属代理</th>
                            <th>操作系统</th>
                            <th>CPU核数</th>
                            <th>内存</th>
                            <th>硬盘</th>
                            <th> 操作 </th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for asset in asset_list %}
                            <tr class="gradeX">
                                <td>
                                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" class="checkboxes" value="{{ asset.id }}" />
                                        <span></span>
                                    </label>
                                </td>
                                <td class="hostname"> <a href="{% url 'asset_detail' %}?id={{ asset.id }}">{{ asset.name|default_if_none:"" }}</a> </td>
                                <td> {{ asset.networking.all|net_str2 }}
                                <td > {{ asset.idc.name|default_if_none:"" }} </td>
                                <td >{{ asset.group.all|group_str2 }}</td>
                                <td >{{ asset.proxy.proxy_name|default_if_none:"" }}</td>
                                <td >{{ asset.system_type|default_if_none:"" }}{{ asset.system_version|default_if_none:"" }}</td>
                                <td > {{ asset.cpu|get_cpu_core|default_if_none:"" }} </td>
                                <td > {{ asset.memory|default_if_none:"" }}{% if asset.memory %}G{% endif %}</td>
                                <td > {{ asset.disk|get_disk_info }}{% if asset.disk %}G{% endif %}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a href="{% url 'asset_edit' %}?id={{ asset.id }}">
                                                    编辑 </a>
                                            </li>
                                            <li>
                                                <a name="{{ asset.id }}" class="conn">连接</a>
                                            </li>
                                            <li>
                                                <a name="{% url 'asset_del' %}?id={{ asset.id }}" class="del">
                                                     删除 </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
{% endblock %}

{% block self_footer_js %}
    <script src="/static/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="/static/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="/static/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        //删除单个资产
        $('.del').click(function(){
              var row = $(this).closest('tr');
              if (confirm("确定删除?")) {
                $.get(
                    $(this).attr('name'),
                    {},
                    function(data){
                        alert(data.msg);
                        row.remove();
                    }
                )
              }
        });
         //删除多个资产
        $('.del_batch').click(function () {
            var asset_id_all = getIDall();
            if (asset_id_all == ''){
                alert("请至少选择一行!");
                return false;
            }
            if (confirm("确定删除?")) {
                $.ajax({
                    type: "post",
                    data: {asset_id_all: asset_id_all},
                    url: $(this).attr('name'),
                    success: function (res) {
                        alert(res.msg);
                        $(".gradeX input:checked").closest("tr").remove();
                    }
                });
            }
        });

        $('#add_asset').click(function(){
              window.location.href = "{% url 'asset_add' %}"
        });

        //连接
        $('.conn').click(function(){
            var url='{% url "role_get" %}?id=' + $(this).attr('name'); // 获取用户有权限的角色
            var href = $(this).attr('href');
            var new_url = '{% url "terminal" %}?id=' ;  //wbterminal socket url
            var hostname = $(this).closest('tr').find('.hostname a');
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function(data){
                    var param = eval("("+data+")");
                    var dataArray = param.role_name.split(',');
                    var roleArray = param.role_id.split(',');
                    if (roleArray == 'error' || roleArray == '' || roleArray == null || roleArray == undefined){
                        layer.alert('没有授权系统用户')
                    }
                    else if (dataArray.length == 1 && data != 'error' && navigator.platform == 'Win32'&& roleArray.length == 1){
                        window.open(new_url+ param.id_unique + '&role_id='+ param.role_id + '&user_id='+ param.user_id+'&proxy_url='+ param.proxy_url, '', 'width=628px, height=380px');
                    }  else if (dataArray.length == 1 && data != 'error'){
                        window.open(new_url+ param.id_unique + '&role_id='+ param.role_id + '&user_id='+ param.user_id+'&proxy_url='+ param.proxy_url, '_blank', 'toolbar=yes, location=yes, copyhistory=yes, scrollbars=yes, width=628, height=410');

                    }
                    else {
                        aUrl = '';
                        $.each(roleArray,function(index, value){
                            aUrl += '<a onclick="windowOpen(this); return false" class="btn btn-xs btn-primary newa" href=' + new_url + param.id_unique + "&role_id="+ value + "&user_id="+ param.user_id+"&proxy_url="+ param.proxy_url+'  value=' + hostname +  '>' + dataArray[index]+'</a> '
                        });
                        console.log(aUrl);
                        layer.alert(aUrl, {
                            skin: 'layui-layer-molv',
                            title: '授权多个系统用户，请选择一个连接',
                            shade: false,
                            closeBtn: 0,
                            time: 5000
                        })
                    }
                }
            });
            return false
        });
    });

    function windowOpen(a){
        var new_url = $(a).attr('href');
        var hostname = $(a).attr('value');
        var title = 'MagicStack Web Terminal - ' + '<span class="text-info"> '+ hostname +'</span>';
        if (navigator.platform == 'Win32'){
            window.open(new_url, '_blank', 'toolbar=yes, location=yes, copyhistory=yes, scrollbars=yes, width=628, height=400')

        } else {
            window.open(new_url, '_blank', 'toolbar=yes, location=yes, copyhistory=yes, scrollbars=yes, width=628, height=410');
        }

        return false
    }

     function windowOpenExec(a){
         var new_url = $(a).attr('href');
         var title = 'MagicStack Exec Terminal';
         layer.open({
             type: 2,
             title: title,
             maxmin: true,
             area: ['725px', '600px'],
             shade: false,
             content: new_url
        });
        return false
    }


    $('.update').click(function () {
        var asset_id_all = getIDall();
        var url_p = $(this).attr('name');
        if (asset_id_all == ''){
            if (confirm("更新全部资产信息?")) {
                layer.msg('玩命更新中...', {time: 200000});
                url_p += '?arg=all';
                $.ajax({
                    type: "post",
                    url: url_p,
                    success: function (res) {
                        alert(res.success);
                        parent.location.reload();
                    }
                });
            }
        }
        else {
            layer.msg('玩命更新中...', {time: 200000});
            $.ajax({
                type: "post",
                data: {asset_id_all: asset_id_all},
                url: url_p,
                success: function () {
                    parent.location.reload();
                }
            });
        }
    });

    $('.start_up').click(function () {
        var asset_id_all = getIDall();
        if (asset_id_all == ''){
            alert("请至少选择一行!");
            return false;
        }
        if (confirm("确定开启所选机器?")) {
            $.ajax({
                type: "post",
                data: {asset_id_all: asset_id_all},
                url: $(this).attr('name'),
                success: function (data) {
                    layer.msg(data.messege,{offset:['100px','1200px']}, function(){
                        parent.location.reload();
                    });

                }
            });
        }
    });

    $('.restart').click(function () {
        var asset_id_all = getIDall();
        if (asset_id_all == ''){
            alert("请至少选择一行!");
            return false;
        }
        if (confirm("确定重启所选的机器?")) {
            $.ajax({
                type: "post",
                data: {asset_id_all: asset_id_all},
                url: $(this).attr('name'),
                success: function (data) {
                    layer.msg( data.messege,{offset:['100px','1200px']}, function(){
                        parent.location.reload();
                    });

                }
            });
        }
    });

    $('.shutdown').click(function () {
        var asset_id_all = getIDall();
        if (asset_id_all == ''){
            alert("请至少选择一行!");
            return false;
        }
        if (confirm("确定关闭所选的机器?")) {
            $.ajax({
                type: "post",
                data: {asset_id_all: asset_id_all},
                url: $(this).attr('name'),
                success: function (data) {
                    layer.msg( data.messege,{offset:['100px','1200px']}, function(){
                        parent.location.reload();
                    });
                }
            });
        }
    });


    $('.rebuild').click(function () {
        var asset_id_all = getIDall();
        if (asset_id_all == ''){
            alert("请至少选择一行!");
            return false;
        }
        if (confirm("确定重装所选的机器?")) {
            $.ajax({
                type: "post",
                data: {asset_id_all: asset_id_all},
                url: $(this).attr('name'),
                success: function (data) {
                    layer.msg( data.messege,{offset:['100px','1200px']}, function(){
                        parent.location.reload();
                    });
                }
            });
        }
    });

    function showalert()
    {
       $.ajax({
          url: '{% url 'asset_event' %}',
          method: 'get',
          success: function(res) {
{#              layer.msg(res.message,#}
{#                      {#}
{#                          time: 20000,#}
{#                          offset:['100px','800px']#}
{#              });#}
              alert(res.message)
          }
{#          error: function(res) {#}
{#              layer.msg(res.messege,#}
{#                      {#}
{#                          offset:['100px','1200px']#}
{#              });#}
{#          }#}
        });
    }
    //定时执行，5秒后执行showalert()
    window.setInterval(function(){
    showalert();
    },6000);

</script>

{% endblock %}
