{% extends 'base.html' %}
{% block self_head_css_js %}

        <link href="/static/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="/static/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <link href="/static/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/static/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="add_asset" class="btn sbold green">添加资产
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">更多操作
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="#" class="del_batch">
                                                     删除所选 </a>
                                    </li>
                                    <li>
                                        <a name="{% url 'asset_update_batch' %}" class="update">
                                            更新 </a>
                                    </li>
                                    <li>
                                        <a name="{% url 'asset_action' 'on' %}" class="start_up">
                                             开机</a>
                                    </li>
                                    <li>
                                        <a name="{% url 'asset_action' 'reboot' %}" class="restart">
                                             重启</a>
                                    </li>
                                    <li>
                                        <a name="{% url 'asset_action' 'off' %}" class="shutdown">
                                             关机</a>
                                    </li>
                                    <li>
                                        <a name="{% url 'asset_action' 'rebuild' %}" class="rebuild">
                                             重装系统</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <td style=" width:60px;">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" id="select_all" name="select_all"/>
                                    <span></span>
                                </label>
                            </th>
                            <th> 主机名 </th>
                            <th> IP地址 </th>
                            <th> IDC </th>
                            <th>所属主机组</th>
                            <th>所属代理</th>
                            <th>操作系统</th>
                            <th>CPU核数</th>
                            <th>内存</th>
                            <th>硬盘</th>
                            <th> 操作 </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加资产</h4>
              </div>
              <div class="modal-body">
                  <form id="form_asset" method="post" class="form-horizontal" name="assetForm">
                    <div class="alert alert-danger text-center display-hide" id="error_info" ></div>
                    <input type="text" class="form-control hide" value="" name="asset_id"/>
                    <input type="text" class="form-control hide" value="add" name="operator_type">
                    <div id="myTabs">
                      <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#general" aria-controls="home" role="tab" data-toggle="tab">常规</a></li>
                            <li role="presentation"><a href="#networkingglobal" aria-controls="profile" role="tab" data-toggle="tab">全局网络管理</a></li>
                            <li role="presentation"><a href="#networking" aria-controls="messages" role="tab" data-toggle="tab">网络</a></li>
                            <li role="presentation"><a href="#powermanage" aria-controls="settings" role="tab" data-toggle="tab">电源管理</a></li>
                      </ul>

                      <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="general">
                                <div class="ibox-content">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">名字
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">端口号
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="port">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">管理用户名
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input type="text" class="form-control" name="username"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">密码
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-lock fa-fw"></i>
                                                </span>
                                                <input type="password" class="form-control" name="password"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">所属代理
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <select name="proxy" id="proxy" data-placeholder="请选择代理" class="form-control" onChange="redirec(document.assetForm.proxy.options.selectedIndex)">
                                                <option value="请选择proxy">请选择proxy</option>
                                                {% for proxy in proxys %}
                                                    <option value="{{ proxy.id }}">{{ proxy.proxy_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-md-3 control-label">用户配置文件
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <select name="profile" id="profile" data-placeholder="请选择profile" class="form-control">
                                                <option value="请选择profile" selected>请选择profile</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">创建元数据</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="kickstart">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">网络引导</label>
                                        <div class="col-md-9">
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio">
                                                    <input type="radio" name="is_enabled" value="1" checked> 激活
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio">
                                                    <input type="radio" name="is_enabled"  value="0" > 禁用
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="multiple" class="col-md-3 control-label">所属主机组
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <select name="group" id="asset_group" class="form-control select2-multiple" multiple>
                                                {% for item in group_all %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">所属机房</label>
                                        <div class="col-md-6">
                                            <select class="form-control" name="idc">
                                                {% for item in idc_all %}
                                                     <option value="{{ item.id }}">{{ item.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">机柜号</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="cabinet">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">资产编号</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="number">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">机器状态</label>
                                        <div class="col-md-6">
                                            <select class="form-control" name="machine_status">
                                                {% for k,v in asset_status.items %}
                                                     <option value="{{ k }}">{{ v }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">主机类型</label>
                                        <div class="col-md-6">
                                            <select class="form-control" name="asset_type">
                                                {% for k,v in asset_type.items %}
                                                     <option value="{{ k }}">{{ v }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">是否激活</label>
                                        <div class="col-md-9">
                                            <div class="mt-radio-inline">
                                                <label class="mt-radio">
                                                    <input type="radio" name="is_active" value="1" checked> 激活
                                                    <span></span>
                                                </label>
                                                <label class="mt-radio">
                                                    <input type="radio" name="is_active"  value="0" > 禁用
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">备注</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="comment">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="networkingglobal">
                               <div class="ibox-content">
                                     <div class="form-group">
                                        <label class="col-md-3 control-label">主机名
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="hostname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">网关</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="gateway">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-md-3 control-label">域名服务器</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="name_servers">
                                        </div>
                                    </div>
                               </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="networking">
                              <div class="ibox-content">
                                   <div class="form-group">
                                        <label class="col-md-3 control-label">添加网卡</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="net_name">
                                        </div>
                                    </div>
                                  <div class="form-group">
                                        <label class="col-md-3 control-label">MAC地址
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="mac_address">
                                        </div>
                                    </div>
                                   <div class="form-group">
                                        <label class="col-md-3 control-label">最大传输单元</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="mtu">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-md-3 control-label">IP地址
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="ip_address">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-md-3 control-label">static</label>
                                        <div class="col-md-9">
                                            <label class="mt-checkbox">
                                                <input type="checkbox" name="static" value="1" checked>
                                                <span></span>
                                            </label>
                                        </div>
                                     </div>
                                      <div class="form-group">
                                        <label class="col-md-3 control-label">子网掩码</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="subnet_mask">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-md-3 control-label">默认网关</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="per_gateway">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">DNS名称</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="dns_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">静态路由</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="static_routes">
                                        </div>
                                    </div>
                              </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="powermanage">
                                <div class="ibox-content">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">电源管理类型</label>
                                        <div class="col-md-6">
                                            <select class="form-control" name="power_type">
                                                {% for k,v in power_type.items %}
                                                     <option value="{{ k }}">{{ v }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">电源管理地址
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="power_address">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">电源管理用户名
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                <input type="text" class="form-control" name="power_username"> </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">电源管理用户密码
                                            <span class="required"> * </span>
                                        </label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-lock fa-fw"></i>
                                                </span>
                                                <input type="password" class="form-control" name="power_password"> </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                       </div>
                  </div>
              </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">关闭</button>
                <button type="button" class="btn green" id="btn_save">保存</button>
              </div>
        </div>
    </div>
</div>

{% endblock %}

{% block self_footer_js %}
    <script src="/static/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="/static/js/layer/layer.js" type="text/javascript"></script>
    <script src="/static/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="/static/pages/scripts/ui-toastr.min.js" type="text/javascript"></script>
<script>
    //获取一级菜单长度
    var select1_len = document.assetForm.proxy.options.length;
    var select2 = new Array(select1_len);
    //把一级菜单都设为数组
    for (var i=0; i < select1_len; i++) {
        select2[i] = new Array();
    }
    select2[0][0] = new Option('请选择profile','');
    var pcount = 1;
    {% for proxy in proxys %}
        var mcount = 0;
        {% for k , v in proxy_profiles.items %}
            {% ifequal k proxy.proxy_name %}
                {% for item in v %}
                    select2[pcount][mcount] = new Option('{{ item }}', '{{ item }}');
                    mcount += 1;
                {% endfor %}
            {% endifequal %}
        {% endfor %}
        pcount += 1;
    {% endfor %}

    //联动函数
    function redirec(x) {
        var temp = document.assetForm.profile;
        for (var i=0; i < select2[x].length; i++) {
            temp.options[i] = new Option(select2[x][i].text, select2[x][i].value);
        }
        temp.options[0].selected = true;
    }

    //编辑资产
    function editAsset(id){
        var url = "{% url 'asset_edit' %}?id=" + id ;
        $.get(url, function(res){
            //设置操作类型 add or edit
            $("input[name=operator_type]").val('edit');

            //设置资产ID
            $("input[name=asset_id]").val(res.Id);

            $("input[name=name]").val(res.name);
            $("input[name=port]").val(res.port);
            $("input[name=username]").val(res.username);
            $("input[name=password]").val(res.password);
            $("input[name=kickstart]").val(res.kickstart);
            $("input[name=cabinet]").val(res.cabinet);
            $("input[name=number]").val(res.number);
            $("input[name=hostname]").val(res.hostname);
            $("input[name=gateway]").val(res.gateway);
            $("input[name=name_servers]").val(res.name_servers);
            $("input[name=net_name]").val(res.net_name);
            $("input[name=mac_address]").val(res.mac_address);
            $("input[name=mtu]").val(res.mtu);
            $("input[name=ip_address]").val(res.ip_address);
            $("input[name=subnet_mask]").val(res.subnet_mask);
            $("input[name=per_gateway]").val(res.per_gateway);
            $("input[name=dns_name]").val(res.dns_name);
            $("input[name=static_routes]").val(res.static_routes);
            $("input[name=power_address]").val(res.power_address);
            $("input[name=power_username]").val(res.power_username);
            $("input[name=power_password]").val(res.power_password);
            $("input[name=comment]").val(res.comment);

            //设置单选下拉框的值
            $("#proxy").val(res.proxy_id);

            //设置profile的值
            $("#profile").find("option[value=" + res.profile + "]").attr("selected", true);

            document.getElementsByName('idc')[0].value = res.idc;
            document.getElementsByName('machine_status')[0].value = res.machine_status;
            document.getElementsByName('asset_type')[0].value = res.asset_type;
            document.getElementsByName('power_type')[0].value = res.power_type;


            //设置radio的值
            var radios = document.getElementsByName('is_enabled');
            if(res.netboot_enabled){
                radios[0].checked = true;
                radios[1].checked = false;
            }else{
                radios[0].checked = false;
                radios[1].checked = true;
            }

            var radios_1 = document.getElementsByName('is_active');
            if(res.is_active){
                radios_1[0].checked = true;
                radios_1[1].checked = false;
            }else{
                radios_1[0].checked = false;
                radios_1[1].checked = true;
            }

            //设置checkbox的值
            var checkbox = document.getElementsByName('static');
            if(res.static){
                checkbox[0].checked = true;
            }else{
                checkbox[0].checked = false;
            }


            //设置多选框的值
            var select_user = res.group.split(',');
            $("#asset_group").val(select_user).trigger("change");


             var modal = $("#myModal");
             modal.find(".modal-title").text("编辑资产");
             modal.modal({
                 'keyboard': false,
                 'backdrop': 'static'
             })

        })
    }

    $(document).ready(function(){
        <!-- 初始化table 分页 排序-->
        var table = $("#sample_1");
        var table_init = table.DataTable({
            "bDestroy" : true,
            "bProcessing" : true, //DataTables载入数据时，是否显示‘进度’提示
            "bServerSide" : true, //是否启动服务器端数据导入
            "bStateSave" : true, //是否打开客户端状态记录功能,此功能在ajax刷新纪录的时候不会将个性化设定回复为初始化状态
            "aLengthMenu" : [[5, 15, 20, -1], [5, 15, 20, "All"]], //更改显示记录数选项
            "iDisplayLength" : 5, //默认显示的记录数
            "bPaginate" : true, //是否显示（应用）分页器
            "bInfo" : true, //是否显示页脚信息，DataTables插件左下角显示记录数
            "sPaginationType": "bootstrap_full_number",
            "aaSorting" : [[2, "desc"]], //默认的排序方式，第2列，降序排列
            "bFilter" : true, //是否启动过滤、搜索功能
            "aoColumns" : [{
                "sDefaultContent" : '<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"> \
                                        <input type="checkbox" class="checkboxes" value="" /> \
                                        <span></span> \
                           </label>', //此列默认值为""，以防数据中没有此值，DataTables加载数据的时候报错
                "bSortable":false //此列不排序
                }, {
                    "mData" : "name",
                    "sDefaultContent" : "",
                    "sClass": 'hostname',
                    "bSearchable":true
                }, {
                    "mData" : "ip",
                    "sDefaultContent" : ""
                }, {
                    "mData" : "idc",
                    "sDefaultContent" : ""  ,
                    "bSortable":false   //此列不需要排序
                },{
                    "mData" : "groups",
                    "sDefaultContent" : "",
                    "bSortable":false
                },{
                   "mData": "proxy",
                   "sDefaultContent" : ""
                },{
                   "mData": "system_type",
                   "sDefaultContent" : ""
                },{
                  "mData": "cpu",
                  "sDefaultContent" : ""
                },{
                  "mData": "memory",
                  "sDefaultContent" : ""
                },{
                  "mData": "disk",
                  "sDefaultContent" : ""
                },{
                  "mData": "",             //操作列
                  "sDefaultContent" : "",
                  "bSortable":false
                }],
                "oLanguage": { //国际化配置
                    "sProcessing" : "正在获取数据，请稍后...",
                    "sLengthMenu" : "显示 _MENU_ 条",
                    "sSearch": "搜索:",
                    "sZeroRecords" : "没有您要搜索的内容",
                    "sInfo" : "从 _START_ 到  _END_ 条记录 共 _TOTAL_ 条记录",
                    "sInfoEmpty" : "记录数为0",
                    "sInfoFiltered" : "(共显示 _MAX_ 条数据)",
                    "sInfoPostFix" : "",
                    "oPaginate": {
                        "sFirst" : "第一页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "最后一页"
                    }
                },
                /*
                * 设置操作列的值
                */
                "fnRowCallback" : function(nRow, aData, iDisplayIndex) {
                    op_del = '<a class="del" name=\"/asset/del/?id=' + aData.id + '\">删除</a> ';
                    op_edit = '<a href=\"#\" onclick=\"editAsset('+aData.id+')\">编辑</a>';
                    op_conn = '<a class="conn" name=\" ' + aData.id + '\">连接</a> ';
                    op_html = '<div class="btn-group"> \
                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions\
                                <i class="fa fa-angle-down"></i> \
                            </button> \
                            <ul class="dropdown-menu" role="menu"> \
                                <li>' + op_edit + '</li>\
                                <li>' + op_conn + '</li>\
                                <li>' + op_del + '</li>\
                            </ul>\
                        </div>';
                    $('td:eq(0) input', nRow).val(aData.id.toString());
                    $('td:eq(1)', nRow).html('<a href=\"{% url 'asset_detail' %}?id=' + aData.id + '\">' + aData.name + '</a>');
                    $('td:eq(10)', nRow).html(op_html);
                    return nRow;
                },
                //服务器端，数据回调处理
                "fnServerData" : function(sSource, aDataSet, fnCallback) {
                    $.ajax({
                        "dataType" : 'json',
                        "type" : "post",
                        "url" : sSource,
                        "data" : aDataSet,
                        "success" : function(resp){
                            fnCallback(resp);
                        }
                    });
                }
        });

        table.find(".group-checkable").change(function() {
            var e = $(this).attr("data-set"),
            t = $(this).is(":checked");
            $(e).each(function() {
                t ? ($(this).prop("checked", !0), $(this).parents("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).parents("tr").removeClass("active"))
            })
        });
        table.on("change", "tbody tr .checkboxes", function() {
                 $(this).parents("tr").toggleClass("active")
        });
        <!-- 加载table完毕 -->

        <!-- 基础函数 -->
        function getIDall(){
            var check_array = [];
            var rowChecked = table.find('tbody tr .checkboxes:checked');
            rowChecked.each(function(index, elem) {
                check_array.push($(elem).val())
            });
            return check_array.join(",");
        }

        <!-- 结束 -->

        <!-- 页面操做处理开始 -->
        //删除单个资产
        table.on('click', 'a.del', function(){
              var row = $(this).closest('tr');
              var del_id = $(this).attr('name').split('?')[1].split('=')[1];
              var url_p = "{% url 'asset_del' %}?id=" + del_id ;
              bootbox.confirm("确定删除?", function(result){
                  if(result){
                      $.get(
                            url_p ,
                            function(data){
                                row.remove();
                                toastr['success'](data);
                                toastr.options = {
                                      "closeButton": true,
                                      "debug": false,
                                      "positionClass": "toast-top-right",
                                      "onclick": null,
                                      "showDuration": "1000",
                                      "hideDuration": "1000",
                                      "timeOut": "5000",
                                      "extendedTimeOut": "1000",
                                      "showEasing": "swing",
                                      "hideEasing": "linear",
                                      "showMethod": "fadeIn",
                                      "hideMethod": "fadeOut"
                                }
                            }
                      )
                  }
              })
        });
        //删除多个资产
        $('.del_batch').click(function () {
            var asset_id_all = getIDall();
            if (asset_id_all == ''){
                bootbox.alert("请至少选择一行!");
                return false;
            }
            bootbox.confirm("确定删除?", function(result){
                if(result){
                    $.ajax({
                    type: "post",
                    data: {asset_id_all: asset_id_all},
                    url: '{% url "asset_del" %}',
                    success: function (res) {
                        toastr['success'](res.msg);
                        toastr.options = {
                              "closeButton": true,
                              "debug": false,
                              "positionClass": "toast-top-right",
                              "onclick": null,
                              "showDuration": "1000",
                              "hideDuration": "1000",
                              "timeOut": "5000",
                              "extendedTimeOut": "1000",
                              "showEasing": "swing",
                              "hideEasing": "linear",
                              "showMethod": "fadeIn",
                              "hideMethod": "fadeOut"
                        }
                        $("#sample_1 input:checked").closest("tr").remove();
                    }
                    });
                }
            })
        });

        //添加资产
        $("#add_asset").click(function(){
            //清空profile
            var sele_profile = document.getElementById("profile");
            if(sele_profile.length >1){
                sele_profile.remove(sele_profile.length-1);
            }

            document.getElementById("form_asset").reset();
            var modal = $("#myModal");
             modal.find(".modal-title").text("添加资产");
             modal.modal({
                 'keyboard': false,
                 'backdrop': 'static'
             })
        });

        //modal 关闭事件
         $("#myModal").on('hidden.bs.modal', function(){
             $("#error_info").hide()
         });

        //modal save
        $("#btn_save").click(function(){
            var operator_type = $('input[name=operator_type]').val();
            var asset_id = $('input[name=asset_id]').val();
            var save_url = "{% url 'asset_add' %}";
            if (operator_type == 'edit'){
                save_url = "{% url 'asset_edit' %}?id="+ asset_id ;
            }
            $("#myModal").modal('hide');
            $.ajax({
                method: 'POST',
                url: save_url,
                data: $('#form_asset').serialize(),
                success:function(res){
                    if(res.success){
                        window.location.reload()
                    }else{
                        toastr["error"](res.error);
                        toastr.options = {
                          "closeButton": false,
                          "debug": false,
                          "newestOnTop": false,
                          "progressBar": false,
                          "positionClass": "toast-top-right",
                          "preventDuplicates": false,
                          "onclick": null,
                          "showDuration": "300",
                          "hideDuration": "1000",
                          "timeOut": "5000",
                          "extendedTimeOut": "1000",
                          "showEasing": "swing",
                          "hideEasing": "linear",
                          "showMethod": "fadeIn",
                          "hideMethod": "fadeOut"
                        }
                    }
                }
            })
        });

        //连接
        table.on('click', 'a.conn', function(){
            var url='{% url "role_get" %}?id=' + $(this).attr('name'); // 获取用户有权限的角色
            var href = $(this).attr('href');
            var new_url = '{% url "terminal" %}?id=' ;  //wbterminal socket url
            var hostname = $(this).closest('tr').find('.hostname a');
            $.ajax({
                type: 'GET',
                url: url,
                data: {},
                success: function(data){
                    var param = eval("("+data+")");
                    var dataArray = param.role_name.split(',');
                    var roleArray = param.role_id.split(',');
                    if (roleArray == 'error' || roleArray == '' || roleArray == null || roleArray == undefined){
                        layer.alert('没有授权系统用户')
                    }
                    else if (dataArray.length == 1 && data != 'error' && navigator.platform == 'Win32'&& roleArray.length == 1){
                        window.open(new_url+ param.id_unique + '&role_id='+ param.role_id + '&user_id='+ param.user_id+'&proxy_url='+ param.proxy_url, '', 'width=628px, height=380px');
                    }  else if (dataArray.length == 1 && data != 'error'){
                        window.open(new_url+ param.id_unique + '&role_id='+ param.role_id + '&user_id='+ param.user_id+'&proxy_url='+ param.proxy_url, '_blank', 'toolbar=yes, location=yes, copyhistory=yes, scrollbars=yes, width=628, height=410');

                    }
                    else {
                        aUrl = '';
                        $.each(roleArray,function(index, value){
                            aUrl += '<a onclick="windowOpen(this); return false" class="btn btn-xs btn-primary newa" href=' + new_url + param.id_unique + "&role_id="+ value + "&user_id="+ param.user_id+"&proxy_url="+ param.proxy_url+'  value=' + hostname +  '>' + dataArray[index]+'</a> '
                        });
                        console.log(aUrl);
                        layer.alert(aUrl, {
                            skin: 'layui-layer-molv',
                            title: '授权多个系统用户，请选择一个连接',
                            shade: false,
                            closeBtn: 0,
                            time: 5000
                        })
                    }
                }
            });
            return false
        });

        //更新
        $(".update").click( function(){
            var asset_id_all = getIDall();
            var url_p = $(this).attr('name');
            if(asset_id_all == ''){
                bootbox.confirm("更新全部资产信息?", function(result){
                    if(result){
                        layer.msg('玩命更新中...', {time: 200000});
                        url_p += '?arg=all';
                        $.ajax({
                            type: "post",
                            url: url_p,
                            success: function (res) {
                                parent.location.reload();
                            }
                        });
                    }
                })
            }else{
                layer.msg('玩命更新中...', {time: 200000});
                $.ajax({
                    type: "post",
                    data: {asset_id_all: asset_id_all},
                    url: url_p,
                    success: function () {
                        parent.location.reload();
                    }
                });
            }

        });

        //开机
        $(".start_up").click(function () {
            var asset_id_all = getIDall();
            if (asset_id_all == ''){
                bootbox.alert("请至少选择一行!");
                return false;
            }
            bootbox.confirm("确定开启所选机器?", function(result){
                if(result){
                    $.ajax({
                    type: "post",
                    data: {asset_id_all: asset_id_all},
                    url: "{% url 'asset_action' 'on' %}",
                    success: function (data) {
                            layer.msg(data,{offset:['100px','1200px']}, function(){
                            parent.location.reload();
                           });
                    }
                });
                }
            })
        });

        //重启
        $(".restart").click(function(){
            var asset_id_all = getIDall();
            if (asset_id_all == ''){
                bootbox.alert("请至少选择一行!");
                return false;
            }
            bootbox.confirm("确定重启所选的机器?", function(result){
                if(result){
                    $.ajax({
                        type: "post",
                        data: {asset_id_all: asset_id_all},
                        url: "{% url 'asset_action' 'reboot' %}",
                        success: function (data) {
                            layer.msg( data,{offset:['100px','1200px']}, function(){
                                parent.location.reload();
                            });
                        }
                    });
                }
            })
        });

        //关机
        $(".shutdown").click(function(){
            var asset_id_all = getIDall();
            if (asset_id_all == ''){
                bootbox.alert("请至少选择一行!");
                return false;
            }
            bootbox.confirm("确定关闭所选的机器?", function(result){
                if(result){
                    $.ajax({
                    type: "post",
                    data: {asset_id_all: asset_id_all},
                    url: "{% url 'asset_action' 'off' %}",
                    success: function (data) {
                        layer.msg( data,{offset:['100px','1200px']}, function(){
                            parent.location.reload();
                        });
                    }
                });
                }
            })
        });

        //重装系统
        $(".rebuild").click(function () {
            var asset_id_all = getIDall();
            if (asset_id_all == ''){
                bootbox.alert("请至少选择一行!");
                return false;
            }
            bootbox.confirm("确定重装所选的机器?", function(result){
                if(result){
                    $.ajax({
                    type: "post",
                    data: {asset_id_all: asset_id_all},
                    url: "{% url 'asset_action' 'rebuild' %}",
                    success: function (data) {
                        layer.msg( data,{offset:['100px','1200px']}, function(){
                            parent.location.reload();
                        });
                    }
                });
                }
            })
        });

    });

    function windowOpen(a){
        var new_url = $(a).attr('href');
        var hostname = $(a).attr('value');
        var title = 'MagicStack Web Terminal - ' + '<span class="text-info"> '+ hostname +'</span>';
        if (navigator.platform == 'Win32'){
            window.open(new_url, '_blank', 'toolbar=yes, location=yes, copyhistory=yes, scrollbars=yes, width=628, height=400')

        } else {
            window.open(new_url, '_blank', 'toolbar=yes, location=yes, copyhistory=yes, scrollbars=yes, width=628, height=410');
        }

        return false
    }

     function windowOpenExec(a){
         var new_url = $(a).attr('href');
         var title = 'MagicStack Exec Terminal';
         layer.open({
             type: 2,
             title: title,
             maxmin: true,
             area: ['725px', '600px'],
             shade: false,
             content: new_url
        });
        return false
    }

    function showalert()
    {
       $.ajax({
          url: '{% url 'asset_event' %}',
          method: 'get',
          success: function(res) {
{#              layer.msg(res.message,#}
{#                      {#}
{#                          time: 20000,#}
{#                          offset:['100px','800px']#}
{#              });#}
              if(res.success && res.message){
                  alert(res.message)
              }
          }
        });
    }
    //定时执行，5秒后执行showalert()
    window.setInterval(function(){
    showalert();
    },5000);

    <!--页面操作结束 -->
</script>

{% endblock %}
