<div class="form-group">
    <label class="control-label col-md-3">Proxy
        <span class="required"> * </span>
    </label>

    <div class="col-md-8">
        <select class="bs-select form-control" name="proxy">
            <option value="AF">Afghanistan</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">任务主机
        <span class="required"> * </span>
    </label>
    <div class="col-md-8">
        <select id="task_host" class="form-control" multiple="multiple">
        </select>
    </div>
</div>