<div class="form-group">
    <label class="control-label col-md-3">任务模块
        <span class="required"> * </span>
    </label>
    <div class="col-md-8">
        <select class="bs-select form-control" name="module_name">
        </select>
        <select class="display-hide" name="task_type" >
        </select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">任务参数
        <span class="required"> * </span>
    </label>

    <div class="col-md-8">
        <input type="text" name="task_kwargs" data-required="1" class="form-control"/>

    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">备注&nbsp;&nbsp;</label>

    <div class="col-md-8">
        <input name="comment" type="text" class="form-control"/>
    </div>
</div>