{% extends 'base.html' %}
{% load mytags %}

{% block content %}


<div class="row">
    <div class="col-md-12">
    <div class="profile-content">
    <div class="row">
        <div class="col-md-6">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">用户信息</span>
                        <span class="caption-helper hide">weekly stats...</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable table-scrollable-borderless">
                        <table class="table table-hover table-light">
                            <tr>
                                <td > <span class="bold theme-font">ID</span> </td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font">用户名</span> </td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font">昵称</span> </td>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font">权限</span> </td>
                                <td>{{ user.id | get_role }}</td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font">Email</span> </td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font">激活</span> </td>
                                <td>{{ user.is_active|bool2str }}</td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font">添加日期</span> </td>
                                <td>{{ user.last_login|date:"Y-m-d H:i:s" }}</td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font">所在用户组</span> </td>
                                <td>{{ user.group.all|groups_name }}</td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font">授权主机数量</span> </td>
                                <td>{{ user_perm_info.asset.keys | length }}</td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font">授权主机组</span> </td>
                                <td>
                                     <table class="table">
                                         {% for group in  user_perm_info.asset_group.keys%}
                                            <tr>
                                                <td><a href="{% url 'user_group_list' %}?id={{ group.id }}">{{ group.name }}</a></td>
                                            </tr>
                                         {% endfor %}
                                     </table>
                                </td>
                            </tr>
                            <tr>
                                <td > <span class="bold theme-font">授权规则</span> </td>
                                <td>
                                     <table class="table">
                                         {% for rule in  user_perm_info.rule%}
                                            <tr>
                                                <td><a href="{% url 'role_list' %}?id={{ rule.id }}">{{ rule.name }}</a></td>
                                            </tr>
                                         {% endfor %}
                                     </table>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
        <div class="col-md-6">
            <!-- BEGIN PORTLET -->
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">最近登录记录</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <!--BEGIN TABS-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="scroller" style="height: 320px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                                <ul class="feeds">
                                    {% for log in user_log_ten %}
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-bell-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">{{ log.user }}登录了{{ log.host }}.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col2">
                                            <div class="date"> {{ log.start_time|date:"Y-m-d H:i:s" }} </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--END TABS-->
                </div>
            </div>
            <!-- END PORTLET -->
        </div>
</div>
<script>
    $(document).ready(function(){
        $('#show').click(function(){
            $('#last').css('display', 'none');
            $('#all').css('display', 'block');
        })
    })
</script>


{% endblock %}