{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="/static/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/static/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
{% endblock %}

{% block content %}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="btn_add" class="btn sbold green" >添加用户
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                       <div class="col-md-6">
                            <div class="btn-group pull-right">
                                <button class="btn green  btn-outline " id="del_btn">删除所选
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <td style=" width:60px;">
                                 <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" id="select_all" name="select_all"/>
                                    <span></span>
                                </label>
                            </td>
                            <th>用户名</th>
                            <th>姓名</th>
                            <th>小组</th>
                            <th>权限</th>
                            <th>主机数量</th>
                            <th>激活</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


<!-- Modal --><!-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">添加用户</h4>
      </div>
      <div class="modal-body">
         <form action="" id="form_add_user" class="form-horizontal" method="post">
            <div class="form-body">
                <div class="alert alert-danger text-center display-hide" id="error_info" ></div>
                <input type="text" class="form-control hide" value="" name="user_id"/>
                <input type="text" class="form-control hide" value="add" name="operator_type">
                <div class="form-group">
                    <label class="col-md-3 control-label">用户名
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" name="username" data-required="1" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">昵称
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-6">
                        <input type="text" name="name" data-required="1" class="form-control" /> </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">密码&nbsp;&nbsp;</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-fw"></i>
                            </span>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <span class="help-block display-hide" id="help_block"> 不修改请留空 </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">用户组
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-6">
                        <select class="form-control" name="groups" multiple>
                            {% for item in group_all %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Email
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input type="email" name="email" class="form-control" > </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">用户权限</label>
                    <div class="col-md-9">
                        <div class="mt-radio-inline">
                                <label class="mt-radio">
                                    <input type="radio" name="role"  value="SU" id="is_super"> 超级管理员
                                    <span></span>
                                </label>
                                <label class="mt-radio">
                                    <input type="radio" name="role"  value="CU" id="is_common"> 普通用户
                                    <span></span>
                                </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">其他选项</label>
                    <div class="col-md-9">
                        <div class="mt-checkbox-inline">
                            <label class="mt-checkbox">
                                <input type="checkbox" id="is_active" value="0" name="extra"> 禁用
                                <span></span>
                            </label>
                            <label class="mt-checkbox">
                                <input type="checkbox" id="email_need" value="1" name="extra"> 发送邮件
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
            <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">关闭</button>
            <button type="button" class="btn green" id="btn_save">保存</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block self_footer_js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/static/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/static/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="/static/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/static/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
<script>
    //编辑用户
    function editUser(id){
        var url = "{% url 'user_edit' %}?id=" + id ;
        $.get(url, function(res){
            $("#help_block").show();

            //设置操作类型 add or edit
            $("input[name=operator_type]").val('edit');

            //设置用户ID
            $("input[name=user_id]").val(res.Id);

            $("input[name=username]").val(res.username);
            $("input[name=name]").val(res.name);
            $("input[name=password]").val('');      //不修改密码留空
            $("input[name=email]").val(res.email);
            $("input[name=comment]").val(res.comment);

            //设置下拉框的值
            var select_user = res.user_group.split(',');
            var mutil_select = document.getElementsByName('groups')[0];
            var options = mutil_select.options;

            for (var i=0; i<select_user.length; i++){
                 for (var j=0; j<options.length; j++){
                     if(options[j].value == select_user[i]){
                         options[j].selected = true
                     }
                 }

            }

            //设置复选框的值
             if(res.is_active){
                 document.getElementById('is_active').checked = false;
             }else{
                 document.getElementById('is_active').checked = true;
             }

            //设置radio的值
            var radios = document.getElementsByName("role");
            if(res.is_super){
                radios[0].checked = true
            }else{
                radios[1].checked = true
            }

             var modal = $("#addModal");
             modal.find(".modal-title").text("编辑用户");
             modal.modal({
                 'keyboard': false,
                 'backdrop': 'static'
             })

        })
    }

    $(document).ready(function(){
        <!--初始化Table -->
        var table = $("#sample_1");
        var table_init = table.DataTable({
            "bDestroy" : true,
            "bProcessing" : true, //DataTables载入数据时，是否显示‘进度’提示
            "bServerSide" : true, //是否启动服务器端数据导入
            "bStateSave" : true, //是否打开客户端状态记录功能,此功能在ajax刷新纪录的时候不会将个性化设定回复为初始化状态
            "aLengthMenu" : [[5, 15, 20, -1], [5, 15, 20, "All"]], //更改显示记录数选项
            "iDisplayLength" : 5, //默认显示的记录数
            "bPaginate" : true, //是否显示（应用）分页器
            "bInfo" : true, //是否显示页脚信息，DataTables插件左下角显示记录数
            "sPaginationType": "bootstrap_full_number",
            "aaSorting" : [[2, "desc"]], //默认的排序方式，第2列，降序排列
            "bFilter" : true, //是否启动过滤、搜索功能
            "aoColumns" : [{
                "sDefaultContent" : '<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline"> \
                                        <input type="checkbox" class="checkboxes" value="" /> \
                                        <span></span> \
                           </label>', //此列默认值为""，以防数据中没有此值，DataTables加载数据的时候报错
                "bSortable":false //此列不排序
                }, {
                    "mData" : "username",
                    "sDefaultContent" : "",
                    "bSearchable":true
                }, {
                    "mData" : "name",
                    "sDefaultContent" : ""
                }, {
                    "mData" : "groups",
                    "sDefaultContent" : ""  ,
                    "bSortable":false   //此列不需要排序
                },  {
                    "mData" : "role",
                    "sDefaultContent" : "",
                    "bSortable":false
                },{
                   "mData": "assets",
                   "sDefaultContent": ""
                },{
                   "mData": "is_active",
                   "sDefaultContent": ""
                },{
                   "mData": "",
                   "sDefaultContent": "",
                   "bSortable": false
                }],
                "oLanguage": { //国际化配置
                    "sProcessing" : "正在获取数据，请稍后...",
                    "sLengthMenu" : "显示 _MENU_ 条",
                    "sSearch": "搜索:",
                    "sZeroRecords" : "没有您要搜索的内容",
                    "sInfo" : "从 _START_ 到  _END_ 条记录 共 _TOTAL_ 条记录",
                    "sInfoEmpty" : "记录数为0",
                    "sInfoFiltered" : "(共显示 _MAX_ 条数据)",
                    "sInfoPostFix" : "",
                    "oPaginate": {
                        "sFirst" : "第一页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "最后一页"
                    }
                },
                /*
                * 设置操作列的值
                */
                "fnRowCallback" : function(nRow, aData, iDisplayIndex) {
                    op_del = '<a class="del" name=\"/user/del/?id=' + aData.id + '\">删除</a> ';
                    op_edit = '<a href=\"#\" onclick=\"editUser('+aData.id+')\">编辑</a>';
                    op_html = '<div class="btn-group"> \
                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions\
                                <i class="fa fa-angle-down"></i> \
                            </button> \
                            <ul class="dropdown-menu" role="menu"> \
                                <li>' + op_edit + '</li>\
                                <li>' + op_del + '</li>\
                            </ul>\
                        </div>';
                    $('td:eq(7)', nRow).html(op_html);
                    $('td:eq(0) input', nRow).val(aData.id.toString());
                    return nRow;
                },
                //服务器端，数据回调处理
                "fnServerData" : function(sSource, aDataSet, fnCallback) {
                    $.ajax({
                        "dataType" : 'json',
                        "type" : "post",
                        "url" : sSource,
                        "data" : aDataSet,
                        "success" : function(resp){
                            fnCallback(resp);
                        }
                    });
                }
        });

        table.find(".group-checkable").change(function() {
            var e = $(this).attr("data-set"),
            t = $(this).is(":checked");
            $(e).each(function() {
                t ? ($(this).prop("checked", !0), $(this).parents("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).parents("tr").removeClass("active"))
            })
        });
        table.on("change", "tbody tr .checkboxes", function() {
                 $(this).parents("tr").toggleClass("active")
        });
        <!--初始化Table结束 -->

        <!--页面操作处理-->
        //添加用户
        $("#btn_add").click(function(){
            document.getElementById("form_add_user").reset();
            $("#help_block").hide();
            var modal = $("#addModal");
             modal.find(".modal-title").text("添加用户");
             modal.modal({
                 'keyboard': false,
                 'backdrop': 'static'
             })
        });

         //modal 关闭事件
         $("#addModal").on('hidden.bs.modal', function(){
             $("#error_info").hide()
         });

        //modal save
        $("#btn_save").click(function(){
            var operator_type = $('input[name=operator_type]').val();
            var user_id = $('input[name=user_id]').val();
            var save_url = "{% url 'user_add' %}";
            if (operator_type == 'edit'){
                save_url = "{% url 'user_edit' %}?id="+ user_id ;
            }
            $.ajax({
                method: 'POST',
                url: save_url,
                data: $('#form_add_user').serialize(),
                success:function(res){
                    if(res.success){
                        $("#addModal").modal('hide');
                        window.location.reload();
                    }else{
                        $("#error_info").text(res.error).show()
                    }
                }
            })
        });

        //删除一行
        table.on('click', 'a.del', function(){
              var row = $(this).closest('tr');
              var del_id = $(this).attr('name').split('?')[1].split('=')[1];
              bootbox.confirm("确定删除?",function(result){
                  if(result){
                      $.post( '{% url "user_del" %}',
                         {'id': del_id },
                         function(data){
                             bootbox.alert(data);
                             row.remove();
                      })
                  }
              });
        });

        //删除多行
        $('#del_btn').click(function(){
            var check_array = [];
            bootbox.confirm("确定删除所选的用户?", function(result){
                if(result){
                    var rowChecked = table.find('tbody tr .checkboxes:checked');
                    rowChecked.each(function(index, elem) {
                        check_array.push($(elem).val())
                    });
                    $.post("{% url 'user_del' %}",
                        {id: check_array.join(",")},
                        function(res){
                            bootbox.alert(res);
                            $("#sample_1 input:checked").closest("tr").remove();
                        }
                    )
                }

            })
        });

        //发送邮件
        $('.email').click(function(){
            $.get('{% url "mail_retry" %}?uuid=' + $(this).attr('name'),
                    {},
                    function(data){
                        alert(data)
                    }
            )
        });
        <!--页面操作处理结束 -->
    });
</script>
{% endblock %}



