<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MagicStack | Dashboard</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    {% include 'link_css.html' %}
    {% include 'head_script.html' %}
    {% block self_head_css_js %} {% endblock %}
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
      <div class="page-header navbar navbar-fixed-top">
          {% include 'nav_bar_header.html' %}
      </div>
      <div class="clearfix"> </div>
      <div class="page-container">
          <div class="page-sidebar-wrapper">
               {% include 'nav.html' %}
          </div>
          <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="{% url 'index' %}">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Dashboard</span>
                            </li>
                        </ul>
                        <div class="page-toolbar">
                            <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
{#                                <i class="icon-calendar"></i>&nbsp;#}
                                <span class="thin uppercase hidden-xs"></span>&nbsp;
{#                                <i class="fa fa-angle-down"></i>#}
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BAR -->
                    <div class="clearfix"></div>
                    <!-- END DASHBOARD STATS 1-->
                    {% block content %}{% endblock %}
                </div>
                <!-- END CONTENT BODY -->

          </div>
      </div>
      {% include 'footer.html' %}

</body>
    {% block self_footer_js %} {% endblock %}
</html>
