{% if request.session.role_id == 2 %}
<div class="page-sidebar navbar-collapse collapse">
<!-- BEGIN SIDEBAR MENU -->
<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 0px">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper hide">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler">
                <span></span>
            </div>
            <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="nav-item start active open">
            <li class="nav-item  ">
                <a href="{% url 'index' %}" class="nav-link nav-toggle">
                    <i class="icon-home"></i>
                    <span class="title">全局概览</span>
{#                    <span class="arrow"></span>#}
                </a>
            </li>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">用户管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item ">
                    <a href="{% url 'user_group_list' %}" class="nav-link ">
                        <span class="title">查看用户组</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="{% url 'user_list' %}" class="nav-link ">
                        <span class="title">查看用户</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-trophy"></i>
                <span class="title">资产管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="{% url 'asset_group_list' %}" class="nav-link ">
                        <span class="title">查看资产组</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{% url 'asset_list' %}" class="nav-link ">
                        <span class="title">查看资产</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{% url 'idc_list' %}" class="nav-link ">
                        <span class="title">查看机房</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">应用管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">模块剧本</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">容器部署</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-briefcase"></i>
                <span class="title">任务管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="{% url 'task_list' %}" class="nav-link ">
                        <span class="title">常规任务</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">高级任务</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="?p=" class="nav-link nav-toggle">
                <i class="icon-equalizer"></i>
                <span class="title">备份管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">文件备份</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">目录备份</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{% url 'dbbackup_list' %}" class="nav-link ">
                        <span class="title">数据库备份</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="glyphicon glyphicon-cog"></i>
                <span class="title">授权管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="{% url 'sudo_list' %}" class="nav-link ">
                        <span class="title">Sudo</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{% url 'role_list' %}" class="nav-link ">
                        <span class="title">系统用户</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{% url 'rule_list' %}" class="nav-link ">
                        <span class="title">授权规则</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="{% url 'proxy_list' %}" class="nav-link nav-toggle">
                <i class="icon-pointer"></i>
                <span class="title">代理管理</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'log_list' 'online' %}" class="nav-link nav-toggle">
                <i class="icon-calendar"></i>
                <span class="title">日志审计</span>
                <span class="arrow"></span>
            </a>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-bell"></i>
                <span class="title">告警管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="{% url 'media_list' %}" class="nav-link ">
                        <span class="title">告警媒介类型</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{% url 'emergency_rule' %}" class="nav-link ">
                        <span class="title">告警设置</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{% url 'emergency_event' %}" class="nav-link ">
                        <span class="title">告警事件</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-globe"></i>
                <span class="title">全局设置</span>
                <span class="arrow"></span>
            </a>
        </li>
    </ul>
</div>
<!-- END SIDEBAR -->
{% endif %}

{% if request.session.role_id == 0 %}
    <div class="page-sidebar navbar-collapse collapse">
<!-- BEGIN SIDEBAR MENU -->
<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper hide">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <div class="sidebar-toggler">
                <span></span>
            </div>
            <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>
        <li class="nav-item start active open">
            <li class="nav-item  ">
                <a href="{% url 'index' %}" class="nav-link nav-toggle">
                    <i class="icon-diamond"></i>
                    <span class="title">Dashboard</span>
                    <span class="arrow"></span>
                </a>
            </li>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-trophy"></i>
                <span class="title">资产管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="{% url 'asset_group_list' %}" class="nav-link ">
                        <span class="title">查看资产组</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{% url 'asset_list' %}" class="nav-link ">
                        <span class="title">查看资产</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{% url 'idc_list' %}" class="nav-link ">
                        <span class="title">查看机房</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-bell"></i>
                <span class="title">告警管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="{% url 'media_list' %}" class="nav-link ">
                        <span class="title">告警媒介类型</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">告警设置</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
{% endif %}