<!-- BEGIN PAGE TITLE-->
    {% if header_title %}
        <h3 class="page-title"> {{ header_title }}
        </h3>
    {% else %}
        <h3 class="page-title"> Dashboard
        </h3>
    {% endif %}
<!-- END PAGE TITLE-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{% url 'index' %}">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        {% if path1 %}
        <li>
            <span>{{ path1 }}</span>
            <i class="fa fa-angle-right"></i>
        </li>
        {% endif %}
        {% if path2 %}
        <li>
            <span>{{ path2 }}</span>
            <i class="fa fa-angle-right"></i>
        </li>
        {% endif %}
    </ul>
</div>
