{% load humanize %}
{% load mytags %}
<!-- BEGIN HEADER INNER -->
<nav class="page-header-inner ">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
            <img src="/static/img/magicstack.png" height="20" width="110" alt="logo" class="logo-default" />
        <div class="menu-toggler sidebar-toggler">
            <span></span>
        </div>
    </div>
   <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown dropdown-user">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" class="img-circle" src="/static/img/user.png" />
                    <span class="username username-hide-on-mobile"> {{ request.user.username }} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
{#                    <li>#}
{#                        <a href="page_user_profile_1.html">#}
{#                            <i class="icon-user"></i> 个人信息 </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{% url 'user_update' %}">#}
{#                            <i class="icon-user"></i> 修改信息 </a>#}
{#                    </li>#}
                    <li>
                        <a href="{% url 'logout' %}">
                            <i class="icon-key"></i> 注销 </a>
                    </li>
                    <li>
                        <a href="static/help/ansible/index.html" target="_blank">
                            <i class="icon-info"></i> 帮助
                        </a>
                        <!--todo 多种渠道帮助页面-->
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->
</nav>