{% extends 'base.html' %}
{% load mytags %}

{% block content %}
    {% include 'nav_cat_bar.html' %}

<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-red"></i>
            <span class="caption-subject font-red sbold uppercase">{{ role.name }} -  授权规则</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
                <thead>
                    <tr>
                        <th> 名称 </th>
                        <th> 主机 </th>
                        <th> 主机组 </th>
                        <th> 用户 </th>
                        <th> 用户组 </th>
                        <th>时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rule in rules %}
                        <tr>
                            <td> {{ rule.name }} </td>
                            <td> {{ rule.asset.all | groups_name }} </td>
                            <td> {{ rule.asset_group.all | groups_name }} </td>
                            <td> {{ rule.user.all | groups_name:"user" }} </td>
                            <td> {{ rule.user_group.all | groups_name }} </td>
                            <td> {{ rule.date_added |date:"Y-m-d H:i:s" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">{{ role.name }} - 推送主机</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th class="text-center">主机</th>
                                <th class="text-center">密钥</th>
                                <th class="text-center">密码</th>
                                <th class="text-center">结果</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for asset, info in pushed_asset.items %}
                            <tr class="gradeX">
                                <td class="text-center"> {{ asset.name }} </td>
                                <td class="text-center"> {{ info.key | yesno:"是,否,未知" }} </td>
                                <td class="text-center"> {{ info.password | yesno:"是,否,未知" }} </td>
                                {% if info.success %}
                                <td class="text-center" style="color: #1ab394;" >{{ info.success | yesno:"成功,失败,未知" }} </td>
                                {% else %}
                                <td class="text-center push_failed" style="color: #ec4758;cursor: help" title="{{ info.result }}">{{ info.success | yesno:"成功,失败,未知" }} </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-6">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">{{ role.name }} - 未推送主机</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th> 主机 </th>
                                <th> IP </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asset in need_push_asset %}
                                <tr class="gradeX">
                                    <td > {{ asset.name }} </td>
                                    <td > <span class="label label-sm label-danger">{{ asset.ip }}</span> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block self_footer_js %}

{% endblock %}