{% extends 'base.html' %}
{% load mytags %}

{% block content %}


<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs font-red"></i>
            <span class="caption-subject font-red sbold uppercase">{{ role.name }} -  授权规则</span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
                <thead>
                    <tr>
                        <th> 名称 </th>
                        <th> 主机 </th>
                        <th> 主机组 </th>
                        <th> 用户 </th>
                        <th> 用户组 </th>
                        <th>时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rule in rules %}
                        <tr>
                            <td> {{ rule.name }} </td>
                            <td> {{ rule.asset.all | groups_name }} </td>
                            <td> {{ rule.asset_group.all | groups_name }} </td>
                            <td> {{ rule.user.all | groups_name:"user" }} </td>
                            <td> {{ rule.user_group.all | groups_name }} </td>
                            <td> {{ rule.date_added |date:"Y-m-d H:i:s" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">{{ role.name }} - 推送主机</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th class="text-center">主机</th>
                                <th class="text-center">密钥</th>
                                <th class="text-center">密码</th>
                                <th class="text-center">结果</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for asset, info in pushed_asset.items %}
                            <tr class="gradeX">
                                <td class="text-center"> {{ asset.name }} </td>
                                <td class="text-center"> {{ info.key | yesno:"是,否,未知" }} </td>
                                <td class="text-center"> {{ info.password | yesno:"是,否,未知" }} </td>
                                {% if info.success %}
                                <td class="text-center" style="color: #1ab394;" >{{ info.success | yesno:"成功,失败,未知" }} </td>
                                {% else %}
                                <td class="text-center push_failed" style="color: #ec4758;cursor: help" title="{{ info.result }}">{{ info.success | yesno:"成功,失败,未知" }} </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
    <div class="col-md-6">
        <!-- BEGIN BORDERED TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">{{ role.name }} - 未推送主机</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th> 主机 </th>
                                <th> IP </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asset in need_push_asset %}
                                <tr class="gradeX">
                                    <td > {{ asset.name }} </td>
                                    <td > <span class="label label-sm label-danger">{{ asset.networking.all.0.ip_address }}</span> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-settings font-green"></i>
                    <span class="caption-subject font-green sbold uppercase">{{ role.name }} - proxy上操作记录</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th class="text-center">proxy</th>
                                <th class="text-center">操作</th>
                                <th class="text-center">结果</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for record in role_operator_record %}
                            <tr class="gradeX">
                                <td class="text-center"> {{ record.proxy_name }} </td>
                                <td class="text-center"> {{ record.action | action_to_zh }} </td>
                                {% if record.result == 'success' %}
                                <td class="text-center" style="color: #1ab394;" >{{ record.result|result_to_zh }} </td>
                                {% else %}
                                <td class="text-center" style="color: #ec4758;cursor: help" title="{{ record.result }}">{{ record.result|result_to_zh }} </td>
                                {% endif %}
                                {% if record.result == 'error' %}
                                     {% if record.action == 'add' %}
                                         <td class="text-center" > <a class="edit" onclick="Retry('{{ record.id }}', 'add')"> 添加 </a></td>
                                     {% elif record.action == 'update' %}
                                         <td class="text-center" > <a class="edit" onclick="Retry('{{ record.id }}', 'update')"> 编辑 </a></td>
                                     {% elif record.action == 'push' %}
                                         <td class="text-center" > <a class="edit" onclick="Retry('{{ record.id }}', 'push')"> 推送 </a></td>
                                     {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>


{% endblock %}
{% block self_footer_js %}
    <script src="/static/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>

    <script>

    function Retry(id, action){
        $.post("{% url 'perm_role_retry' %}",{'id': id, 'action': action, 'character': 'role'}, function(res){
            if(res.success){
               window.location.reload()
            }else{
               bootbox.alert(res.message)
            }

        })

    }
    </script>
{% endblock %}