{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <link href="/static/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form action="" id="form_sample_1" class="form-horizontal" method="post">
                    <div class="form-body">
                        {% if error %}
                            <div class="alert alert-danger text-center">{{ error }}</div>
                        {% endif %}
                        {% if msg %}
                            <div class="alert alert-success text-center">{{ msg }}</div>
                        {% endif %}
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">用户名
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" name="role_name" data-required="1" class="form-control" placeholder="Username">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">密码&nbsp;&nbsp;</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock fa-fw"></i>
                                    </span>
                                    <input type="password" class="form-control" name="role_password" placeholder="Password">
                                </div>
                                <span class="help-block"> 如果不添加密码，会自动生成 </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">秘钥&nbsp;&nbsp;</label>
                            <div class="col-md-4">
                                <textarea name="role_key" type="text" class="form-control" ></textarea>
                                <span class="help-block"> 如果不添加密钥，会自动生成</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="multiple" class="col-md-3 control-label">关联SUDO</label>
                            <div class="col-md-4">
                                <select id="multiple"  name="sudo_name" class="form-control select2-multiple" multiple>
                                    {% for sudo in sudos %}
                                        <option value="{{ sudo.id }}">{{ sudo.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">备注&nbsp;&nbsp;</label>
                            <div class="col-md-4">
                                <input name="role_comment" type="text" class="form-control" />
                                <span class="help-block"> optional field </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">保存</button>
                                <button type="button" class="btn grey-salsa btn-outline" id="btn_reset">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>
{% endblock %}
{% block self_footer_js %}
    <script src="/static/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/static/pages/scripts/form-validation.min.js" type="text/javascript"></script>
<script>
$(document).ready(function(){
   $('#btn_reset').click(function(){
            window.location.href = '{% url 'role_list' %}'
        })
   })
</script>

{% endblock %}

