{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
        <link href="/static/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<div class="row">
   <div class="col-md-12">
    <div class="portlet light bordered">
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="btn-group">
                            <button id="btn_add" class="btn sbold green">添加规则
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_1">
                <thead>
                    <tr>
                        <th class="all">规则名称</th>
                        <th class="min-phone-l">用户</th>
                        <th class="min-tablet">用户组</th>
                        <th class="min-phone-l">资产</th>
                        <th class="min-tablet">资产组</th>
                        <th class="min-tablet">系统用户</th>
                        <th class="none">用户信息</th>
                        <th class="none">用户组信息</th>
                        <th class="none">资产信息</th>
                        <th class="none">资产组信息</th>
                        <th class="none">系统用户信息</th>
                        <th class="desktop">操作</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加授权规则</h4>
            </div>
            <div class="modal-body">
                <form action="" id="form_rule" class="form-horizontal" method="post">
                    <div class="form-body">
                        <div class="alert alert-danger text-center display-hide" id="error_info" ></div>
                        <input type="text" class="form-control display-hide" value="" name="rule_id"/>
                        <input type="text" class="form-control display-hide" value="add" name="operator_type">
                        <div class="form-group">
                            <label class="col-md-3 control-label">授权规则名称
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" name="name" data-required="1" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="multiple" class="col-md-3 control-label">用户</label>
                            <div class="col-md-6">
                                <select id="mult_user"  name="user" class="form-control select2-multiple" multiple>
                                    {% for user in users %}
                                        <option value="{{ user.id }}" >{{ user.name}}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block"> 用户和用户组必选一个 </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="multiple" class="col-md-3 control-label">用户组</label>
                            <div class="col-md-6">
                                <select id="mult_user_group"  name="user_group" class="form-control select2-multiple" multiple>
                                    {% for user_group in user_groups %}
                                        <option value="{{ user_group.id }}">{{ user_group.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block"> 用户和用户组必选一个 </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="multiple" class="col-md-3 control-label">资产</label>
                            <div class="col-md-6">
                                <select id="mult_asset"  name="asset" class="form-control select2-multiple" multiple>
                                    {% for asset in assets %}
                                        <option value="{{ asset.id }}" >{{ asset.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block"> 资产和资产组必选一个 </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="multiple" class="col-md-3 control-label">资产组</label>
                            <div class="col-md-6">
                                <select id="mult_asset_group"  name="asset_group" class="form-control select2-multiple" multiple>
                                    {% for asset_group in asset_groups %}
                                        <option value="{{ asset_group.id }}" >{{ asset_group.name }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block"> 资产和资产组必选一个 </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="multiple" class="col-md-3 control-label">系统用户</label>
                            <div class="col-md-6">
                                <select id="mult_role"  name="role" class="form-control select2-multiple" multiple>
                                    {% for role in roles %}
                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">备注&nbsp;&nbsp;</label>
                            <div class="col-md-6">
                                <input name="comment" type="text" class="form-control" />
                                <span class="help-block"> optional field </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">关闭</button>
                <button type="button" class="btn green" id="btn_save" >保存</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block self_footer_js %}
    <script src="/static/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="/static/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<script>
    //编辑授权规则
    function editRule(id){
        var url = "{% url 'rule_edit' %}?id=" + id ;
        $.get(url, function(res){
            //设置操作类型 add or edit
            $("input[name='operator_type']").val('edit');

            //设置用户ID
            $("input[name='rule_id']").val(res.Id);

            $("input[name='name']").val(res.name);
            $("input[name='comment']").val(res.comment);

            var select_p = res.user.split(',');
            $("#mult_user").val(select_p).trigger("change");

            var s_user_group = res.user_group.split(',');
            $("#mult_user_group").val(s_user_group).trigger("change");

            var s_asset = res.asset.split(',');
            $("#mult_asset").val(s_asset).trigger("change");

            var s_asset_group = res.asset_group.split(',');
            $("#mult_asset_group").val(s_asset_group).trigger("change");

            var s_role = res.role.split(',');
            $("#mult_role").val(s_role).trigger("change");


             var modal = $("#myModal");
             modal.find(".modal-title").text("编辑授权规则");
             modal.modal({
                 'keyboard': false,
                 'backdrop': 'static'
             })

        })
    }

    $(document).ready(function(){
        <!-- 初始化table 分页 排序-->
        var table = $("#sample_1");
        var table_init = table.DataTable({
            "bDestroy" : true,
            "bProcessing" : true, //DataTables载入数据时，是否显示‘进度’提示
            "bServerSide" : true, //是否启动服务器端数据导入
            "bStateSave" : true, //是否打开客户端状态记录功能,此功能在ajax刷新纪录的时候不会将个性化设定回复为初始化状态
            "aLengthMenu" : [[5, 15, 20, -1], [5, 15, 20, "All"]], //更改显示记录数选项
            "iDisplayLength" : 5, //默认显示的记录数
            "bPaginate" : true, //是否显示（应用）分页器
            "bInfo" : true, //是否显示页脚信息，DataTables插件左下角显示记录数
            "sPaginationType": "bootstrap_full_number",
            "aaSorting" : [[2, "desc"]], //默认的排序方式，第2列，降序排列
            "bFilter" : true, //是否启动过滤、搜索功能,
            "aoColumns" : [{
                    "mData" : "name",
                    "sDefaultContent" : ""
                }, {
                    "mData" : "user_num",
                    "sDefaultContent" : ""
                }, {
                    "mData" : "user_group_num",
                    "sDefaultContent" : ""
                },  {
                    "mData" : "asset_num",
                    "sDefaultContent" : ""
                }, {
                    "mData" : "asset_group_num",
                    "sDefaultContent" : ""
                },  {
                     "mData" : "role_num",
                     "sDefaultContent" : ""
                }, {
                    "mData" : "user_names",
                    "sDefaultContent" : "",
                    "bSortable":false
                }, {
                    "mData" : "user_group_names",
                    "sDefaultContent" : "",
                    "bSortable":false
                }, {
                    "mData" : "asset_names",
                    "sDefaultContent" : "",
                    "bSortable":false
                },  {
                     "mData" : "asset_group_names",
                    "sDefaultContent" : "",
                    "bSortable":false
                }, {
                     "mData" : "role_names",
                     "sDefaultContent" : "",
                     "bSortable":false
                }, {
                     "mData" : "",
                    "sDefaultContent" : "",
                    "bSortable":false
                }],
                "oLanguage": { //国际化配置
                    "sProcessing" : "正在获取数据，请稍后...",
                    "sLengthMenu" : "显示 _MENU_ 条",
                    "sSearch": "搜索:",
                    "sZeroRecords" : "没有您要搜索的内容",
                    "sInfo" : "从 _START_ 到  _END_ 条记录 共 _TOTAL_ 条记录",
                    "sInfoEmpty" : "记录数为0",
                    "sInfoFiltered" : "(共显示 _MAX_ 条数据)",
                    "sInfoPostFix" : "",
                    "oPaginate": {
                        "sFirst" : "第一页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "最后一页"
                    }
                },
                <!-- responsive table need -->
                responsive: {
                     details: {}
                },
                buttons: [
                    { extend: 'print', className: 'btn dark btn-outline' },
                    { extend: 'pdf', className: 'btn green btn-outline' },
                    { extend: 'csv', className: 'btn purple btn-outline ' }
                ],
                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",
                <!--end -->
                /*
                * 设置操作列的值
                */
                "fnRowCallback" : function(nRow, aData, iDisplayIndex) {
                    op_del = '<a class="del" name=\"/permission/rule/del/?id=' + aData.id + '\">删除</a> ';
                    op_edit = '<a href=\"#\" onclick=\"editRule('+aData.id+')\">编辑</a>';
                    op_html = '<div class="btn-group"> \
                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions\
                                <i class="fa fa-angle-down"></i> \
                            </button> \
                            <ul class="dropdown-menu" role="menu"> \
                                <li>' + op_edit + '</li>\
                                <li>' + op_del + '</li>\
                            </ul>\
                        </div>';

                    $('td:eq(11)', nRow).html(op_html);
                    return nRow;
                },
                //服务器端，数据回调处理
                "fnServerData" : function(sSource, aDataSet, fnCallback) {
                    $.ajax({
                        "dataType" : 'json',
                        "type" : "post",
                        "url" : sSource,
                        "data" : aDataSet,
                        "success" : function(resp){
                            fnCallback(resp);
                        }
                    });
                }
        });

        table.find(".group-checkable").change(function() {
            var e = $(this).attr("data-set"),
            t = $(this).is(":checked");
            $(e).each(function() {
                t ? ($(this).prop("checked", !0), $(this).parents("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).parents("tr").removeClass("active"))
            })
        });
        table.on("change", "tbody tr .checkboxes", function() {
                 $(this).parents("tr").toggleClass("active")
        });
        <!-- 加载table完毕 -->


        <!--页面操作处理 -->
        //添加授权规则
        $("#btn_add").click(function(){
            document.getElementById("form_rule").reset();
            var modal = $("#myModal");
             modal.find(".modal-title").text("添加授权规则");
             modal.modal({
                 'keyboard': false,
                 'backdrop': 'static'
             })
        });

        //modal 关闭事件
        $("#myModal").on('hidden.bs.modal', function(){
             $("#error_info").hide();
             $("#form_rule").reset();
        });

        //modal save
        $("#btn_save").click(function(){
            var operator_type = $('input[name=operator_type]').val();
            var rule_id = $('input[name=rule_id]').val();
            var save_url = "{% url 'rule_add' %}";
            if (operator_type == 'edit'){
                save_url = "{% url 'rule_edit' %}?id="+ rule_id ;
            }
            $.ajax({
                method: 'POST',
                url: save_url,
                data: $('#form_rule').serialize(),
                success:function(res){
                    if(res.success){
                        $("#myModal").modal('hide');
                        window.location.reload()
                    }else{
                        $("#error_info").text(res.error).show()
                    }
                }
            })
        });

        table.on('click', 'a.del', function(){
            var row = $(this).closest('tr');
            var url_r = $(this).attr('name');
            var rule_id = url_r.split('?')[1].split('=')[1];
            bootbox.confirm("确认删除", function(result){
                if(result){
                     $.ajax({
                           type: "POST",
                           url: "{% url 'rule_del' %}",
                           data: "id=" + rule_id,
                           success: function(msg){
                               bootbox.alert( "成功: " + msg );
                               row.remove()
                           },
                           error: function (msg) {
                               bootbox.alert("失败: " + msg)
                           }
                     });
                }
            })
        });
        <!--页面操作处理结束 -->

    })
</script>
{% endblock %}


