{% extends 'base.html' %}
{% load mytags %}
{% block self_head_css_js %}
    <link href="/static/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
    {% include 'nav_cat_bar.html' %}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN VALIDATION STATES-->
        <div class="portlet light portlet-fit portlet-form bordered">
            <div class="portlet-body">
                <!-- BEGIN FORM-->
                <form action="" id="form_sample_1" class="form-horizontal" method="post">
                    <div class="form-body">
                        {% if error %}
                            <div class="alert alert-danger text-center">{{ error }}</div>
                        {% endif %}
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">命令别名
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <input type="text" name="sudo_name" data-required="1" class="form-control" /> </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">系统命令
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-4">
                                <textarea name="sudo_commands" data-required="1" class="form-control"  placeholder="/bin/grep, /bin/find"></textarea>
                                <span class="help-block"> sudo命令，逗号分隔, 不支持换行 </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">备注&nbsp;&nbsp;</label>
                            <div class="col-md-4">
                                <input name="sudo_comment" type="text" class="form-control" />
                                <span class="help-block"> optional field </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green">提交</button>
                                <button type="button" class="btn grey-salsa btn-outline" id="btn_reset">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END VALIDATION STATES-->
    </div>
</div>

{% endblock %}
{% block self_footer_js %}
    <script src="/static/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/static/pages/scripts/form-validation.min.js" type="text/javascript"></script>
<script>
 $(document).ready(function(){
   $('#btn_reset').click(function(){
            window.location.href = '{% url 'sudo_list' %}'
        })
})
</script>
{% endblock %}

