{% extends 'base.html' %}
{% block self_head_css_js %}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="/static/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <link href="/static/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/static/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
{% endblock %}
{% block content %}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="btn_add" class="btn sbold green">添加系统用户
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                    <thead>
                        <tr>
                            <th> 名称 </th>
                            <th> sudo别名 </th>
                            <th> 创建时间 </th>
                            <th> 操作 </th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加系统用户</h4>
              </div>
              <div class="modal-body">
                  <!-- 操作类型 add edit push -->
                  <input type="text" class="form-control hide" value="add" name="operator_type" />
                  <!-->
                  <form action="" id="form_role" class="form-horizontal" method="post">
                    <div class="form-body">
                        <div class="alert alert-danger text-center display-hide" id="error_info" ></div>
                        <input type="text" class="form-control hide" value="" name="role_id"/>
                        <div class="form-group">
                            <label class="col-md-3 control-label">用户名
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" name="role_name" data-required="1" class="form-control" placeholder="Username">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">密码&nbsp;&nbsp;</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-lock fa-fw"></i>
                                    </span>
                                    <input type="password" class="form-control" name="role_password" placeholder="Password">
                                </div>
                                <span class="help-block"> 如果不添加密码，会自动生成 </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">秘钥&nbsp;&nbsp;</label>
                            <div class="col-md-6">
                                <textarea name="role_key" type="text" class="form-control" ></textarea>
                                <span class="help-block"> 如果不添加密钥，会自动生成</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="multiple" class="col-md-3 control-label">关联SUDO</label>
                            <div class="col-md-6">
                                <select id="role_sudos"  name="sudo_name" class="form-control select2-multiple" multiple>
                                    {% for sudo in sudos %}
                                        <option value="{{ sudo.id }}">{{ sudo.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">备注&nbsp;&nbsp;</label>
                            <div class="col-md-6">
                                <input name="role_comment" type="text" class="form-control" />
                                <span class="help-block"> optional field </span>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- PUSH ROLE FORM BEGIN -->
                <form action="" id="form_role_push" class="form-horizontal" method="post" style="display: none">
                    <div class="form-body">
                        <div class="alert alert-danger text-center display-hide" id="push_error_info" ></div>
                        <input type="text" name="push_role_id"  class="form-control display-hide"  value=""  />
                        <div class="form-group">
                            <label class="col-md-3 control-label">系统用户
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    <input type="text" name="push_role_name" data-required="1" class="form-control"  value=" " disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="multiple" class="col-md-3 control-label">资产
                            <span class="required"> * </span>
                            </label>
                            <div class="col-md-6">
                                <select id="multiple"  name="assets" class="form-control select2-multiple" multiple>
                                    {% for asset in assets %}
                                        <option value="{{ asset.id }}" {% if asset in need_push_asset %}selected{% endif %}>{{ asset.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="multiple" class="col-md-3 control-label">资产组</label>
                            <div class="col-md-6">
                                <select id="multiple"  name="asset_groups" class="form-control select2-multiple" multiple>
                                    {% for asset_group in asset_groups %}
                                        <option value="{{ asset_group.id }}"{% if asset_group in pushed_asset_groups %}selected{% endif %}>{{ asset_group.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">系统组
                            </label>
                            <div class="col-md-6">
                                <textarea name="sys_groups" id="sys_groups" data-required="1" class="form-control"  placeholder="root,adm,tty,sys"></textarea>
                                <span class="help-block">将系统用户加入到系统组中,系统组之间用逗号分隔</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">使用秘钥</label>
                            <div class="col-md-9">
                                <label class="mt-checkbox">
                                    <input type="checkbox" name="use_publicKey" value="1" checked>
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">备注&nbsp;&nbsp;</label>
                            <div class="col-md-6">
                                <input name="comment" type="text" class="form-control" />
                                <span class="help-block"> optional field </span>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- PUSH　ROLE FORM END -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn grey-salsa btn-outline" data-dismiss="modal">关闭</button>
                <button type="button" class="btn green" id="btn_save">保存</button>
              </div>
        </div>
    </div>
</div>

{% endblock %}
{% block self_footer_js %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/static/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/static/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="/static/pages/scripts/ui-toastr.min.js" type="text/javascript"></script>
    <script src="/static/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
<script>
    //编辑系统用户
    function editRole(id){
        var url = "{% url 'role_edit' %}?id=" + id ;
        $.get(url, function(res){
            //设置操作类型 add or edit
            $("input[name=operator_type]").val('edit');

            //设置用户ID
            $("input[name=role_id]").val(res.Id);

            $("input[name=role_name]").val(res.role_name);
            $("input[name=role_password]").val(res.role_password);
            $("input[name=role_comment]").val(res.role_comment);

            //设置下拉框的值
            var select_user = res.sudos.split(',');
            $("#role_sudos").val(select_user).trigger("change");


            var modal = $("#myModal");
            modal.find(".modal-title").text("编辑资产组");
            $("#btn_save").html('保存');
            document.getElementById("form_role").style.display = 'block';
            document.getElementById("form_role_push").style.display = 'none';
            modal.modal({
                 'keyboard': false,
                 'backdrop': 'static'
            })

        })
    }

    //推送系统用户
    function pushRole(id){
        var url = "{% url 'role_push' %}?id=" + id ;
        $.get(url, function(res){
            $("input[name=push_role_name]").val(res.role_name);
            $("input[name=push_role_id]").val(res.Id);
            $("input[name=operator_type]").val('push');
        });

        var modal = $("#myModal");
        modal.find(".modal-title").text("推送系统用户");
        $("#btn_save").html('推送');
        document.getElementById("form_role").style.display = 'none';
        document.getElementById("form_role_push").style.display = 'block';
        modal.modal({
             'keyboard': false,
             'backdrop': 'static'
        })
    }


    $(document).ready(function(){
        <!-- 初始化table 分页 排序-->
        var table = $("#sample_1");
        var table_init = table.DataTable({
            "bDestroy" : true,
            "bProcessing" : true, //DataTables载入数据时，是否显示‘进度’提示
            "bServerSide" : true, //是否启动服务器端数据导入
            "bStateSave" : true, //是否打开客户端状态记录功能,此功能在ajax刷新纪录的时候不会将个性化设定回复为初始化状态
            "aLengthMenu" : [[5, 15, 20, -1], [5, 15, 20, "All"]], //更改显示记录数选项
            "iDisplayLength" : 5, //默认显示的记录数
            "bPaginate" : true, //是否显示（应用）分页器
            "bInfo" : true, //是否显示页脚信息，DataTables插件左下角显示记录数
            "sPaginationType": "bootstrap_full_number",
            "aaSorting" : [[2, "desc"]], //默认的排序方式，第2列，降序排列
            "bFilter" : true, //是否启动过滤、搜索功能
            "aoColumns" : [{
                    "mData" : "name",
                    "sDefaultContent" : "",
                    "bSearchable":true
                }, {
                    "mData" : "sudos",
                    "sDefaultContent" : ""
                }, {
                    "mData" : "date_joined",
                    "sDefaultContent" : ""  ,
                    "bSortable":false   //此列不需要排序
                },  {
                    "mData" : "",
                    "sDefaultContent" : "",
                    "bSortable":false
                }],
                "oLanguage": { //国际化配置
                    "sProcessing" : "正在获取数据，请稍后...",
                    "sLengthMenu" : "显示 _MENU_ 条",
                    "sSearch": "搜索:",
                    "sZeroRecords" : "没有您要搜索的内容",
                    "sInfo" : "从 _START_ 到  _END_ 条记录 共 _TOTAL_ 条记录",
                    "sInfoEmpty" : "记录数为0",
                    "sInfoFiltered" : "(共显示 _MAX_ 条数据)",
                    "sInfoPostFix" : "",
                    "oPaginate": {
                        "sFirst" : "第一页",
                        "sPrevious" : "上一页",
                        "sNext" : "下一页",
                        "sLast" : "最后一页"
                    }
                },
                /*
                * 设置操作列的值
                */
                "fnRowCallback" : function(nRow, aData, iDisplayIndex) {
                    op_del = '<a class="del" name=\"/permission/role/del/?id=' + aData.id + '\">删除</a> ';
                    op_edit = '<a href=\"#\" onclick=\"editRole('+aData.id+')\">编辑</a>';
                    op_push = '<a href=\"#\" onclick=\"pushRole('+aData.id+')\">推送</a>';
                    op_html = '<div class="btn-group"> \
                            <button class="btn btn-xs green dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"> Actions\
                                <i class="fa fa-angle-down"></i> \
                            </button> \
                            <ul class="dropdown-menu" role="menu"> \
                                <li>' + op_edit + '</li>\
                                <li>' + op_push + '</li>\
                                <li>' + op_del + '</li>\
                            </ul>\
                        </div>';

                    $('td:eq(0)', nRow).html('<a href=\"{% url 'role_detail' %}?id=' + aData.id + '\">' + aData.name + '</a>');
                    $('td:eq(3)', nRow).html(op_html);
                    return nRow;
                },
                //服务器端，数据回调处理
                "fnServerData" : function(sSource, aDataSet, fnCallback) {
                    $.ajax({
                        "dataType" : 'json',
                        "type" : "post",
                        "url" : sSource,
                        "data" : aDataSet,
                        "success" : function(resp){
                            fnCallback(resp);
                        }
                    });
                }
        });

        table.find(".group-checkable").change(function() {
            var e = $(this).attr("data-set"),
            t = $(this).is(":checked");
            $(e).each(function() {
                t ? ($(this).prop("checked", !0), $(this).parents("tr").addClass("active")) : ($(this).prop("checked", !1), $(this).parents("tr").removeClass("active"))
            })
        });
        table.on("change", "tbody tr .checkboxes", function() {
                 $(this).parents("tr").toggleClass("active")
        });
        <!-- 加载table完毕 -->


        <!--页面操作处理 -->
        //添加系统用户
        $("#btn_add").click(function(){
            document.getElementById("form_role").style.display = 'block';
            document.getElementById("form_role_push").style.display = 'none';

            document.getElementById("form_role").reset();
            var modal = $("#myModal");
            modal.find(".modal-title").text("添加系统用户");
            $("#btn_save").html('保存');
            modal.modal({
                 'keyboard': false,
                 'backdrop': 'static'
            })
        });

        //modal 关闭事件
        $("#myModal").on('hidden.bs.modal', function(){
         $("#error_info").hide();
         $("#push_error_info").hide();
        });

        //modal save
        $("#btn_save").click(function(){
            var operator_type = $('input[name=operator_type]').val();
            var role_id = $('input[name=role_id]').val();  //role id
            var push_role_id = $('input[name=push_role_id]').val();
            var save_url = "{% url 'role_add' %}";
            var pData = $("#form_role").serialize();
            if (operator_type == 'edit'){
                save_url = "{% url 'role_edit' %}?id="+ role_id ;
            }else if(operator_type == 'push'){
                save_url = "{% url 'role_push' %}?id=" + push_role_id ;
                pData = $("#form_role_push").serialize();
            }

            $.ajax({
                method: 'POST',
                url: save_url,
                data: pData,
                success:function(res){
                    if(res.success){
                        $("#myModal").modal('hide');
                        window.location.reload()
                    }else{
                        $("#error_info").text(res.error).show()
                    }
                }
            })
        });

        //删除单个系统用户
        table.on('click', 'a.del', function(){
          var row = $(this).closest('tr');
          var role_id = $(this).attr('name').split('?')[1].split('=')[1];
          $.ajax({
                type: "GET",
                url: "{% url 'role_del' %}",
                data: {id: role_id, filter_type: 'recycle_assets'},
                success: function(data) {
                    if (data) {
                        msg = data + "的系统用户会被删除，包括其家目录，请谨慎操作!"
                    }
                    else {
                        msg = "该角色无已推送的系统用户, 可以安全删除"
                    }
                    bootbox.confirm(msg, function(result){
                        if(result){
                           $.ajax({
                               type: "POST",
                               url: "{% url 'role_del' %}",
                               data: "id=" + role_id,
                               success: function(msg){
                                   bootbox.alert( "成功: " + msg );
                                   row.remove()
                               },
                               error: function (msg) {
                                   bootbox.alert("失败: " + msg.responseText)
                               }
                           });
                        }
                    })
                },
                error: function(error) {
                    bootbox.alert(error)
                }
          })
        });

        <!--页面操作处理结束 -->

            //定时器
          function showalert() {
               $.ajax({
                  url: '{% url 'push_role_event' %}',
                  method: 'get',
                  success: function(res) {
                      if(res.message) {
                          toastr['success'](res.message);
                          toastr.options = {
                              "closeButton": true,
                              "debug": false,
                              "positionClass": "toast-top-right",
                              "onclick": null,
                              "showDuration": "1000",
                              "hideDuration": "1000",
                              "timeOut": "5000",
                              "extendedTimeOut": "1000",
                              "showEasing": "swing",
                              "hideEasing": "linear",
                              "showMethod": "fadeIn",
                              "hideMethod": "fadeOut"
                          }
                      }
                  }
               });
           }
            //定时执行，10秒后执行showalert()
            window.setInterval(function(){
            showalert();
            },10000);
        })
</script>
{% endblock %}



