{% extends 'base.html' %}
{% load mytags %}
{% block content %}
    {% include 'nav_cat_bar.html' %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑告警媒介信息</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="ibox-content">
                        <form id="groupForm" method="post" class="form-horizontal" action="">
                            {% if error %}
                                <div class="alert alert-warning text-center">{{ error }}</div>
                            {% endif %}
                            {% if msg %}
                                <div class="alert alert-success text-center">{{ msg }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label for="media_name" class="col-sm-2 control-label">名称<span class="red-fonts">*</span></label>
                                <div class="col-sm-8">
                                    <input id="media_name" name="media_name"  type="text" class="form-control" value="{{ media_info.name }}">
                                </div>
                            </div>
                            <li style="list-style-type:none">
                                <div class="form-group" >
                                    <label for="media_type" class="col-sm-2 control-label">类型</label>
                                    <div class="col-sm-8">
                                        <select name="media_type" id="media_type" data-placeholder="电子邮件" class="chosen-select form-control m-b"  tabindex="2">
                                            {% if media_info.type == '0' %}
                                                 <option value="0" selected="selected">电子邮件</option>
                                                 <option value="1" >微信</option>
                                                 <option value="2" >短信</option>
                                            {% elif media_info.type == '1' %}
                                                  <option value="0" >电子邮件</option>
                                                  <option value="1"  selected="selected">微信</option>
                                                  <option value="2" >短信</option>
                                            {% else %}
                                                   <option value="0" >电子邮件</option>
                                                   <option value="1" >微信</option>
                                                   <option value="2" selected="selected">短信</option>
                                            {% endif %}
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li style="list-style-type:none">
                                <div class="form-group">
                                    <label for="smtp_host" class="col-sm-2 control-label">SMTP服务器<span class="red-fonts">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="smtp_host" name="smtp_host"  type="text" class="form-control" value="{{ media_info.smtp_server }}">
                                    </div>
                                </div>
                            </li>
                            <li style="list-style-type:none">
                                <div class="form-group">
                                    <label for="smtp_host_port" class="col-sm-2 control-label">SMTP服务器端口<span class="red-fonts">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="smtp_host_port" name="smtp_host_port"  type="text" class="form-control" value="{{ media_info.smtp_server_port }}">
                                    </div>
                                </div>
                            </li>
                            <li style="list-style-type:none">
                                <div class="form-group">
                                    <label for="email_user" class="col-sm-2 control-label">SMTP电邮<span class="red-fonts">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="email_user" name="email_user"  type="text" class="form-control" value="{{ media_info.email_username }}">
                                    </div>
                                </div>
                            </li>
                            <li style="list-style-type:none">
                                <div class="form-group">
                                    <label for="email_user_password" class="col-sm-2 control-label">用户密码<span class="red-fonts">*</span></label>
                                    <div class="col-sm-8">
                                        <input id="email_user_password" name="email_user_password"  type="password" class="form-control" value="{{media_info.email_password |passwd_decode}}">
                                    </div>
                                </div>
                            </li>
                            <li style="list-style-type:none">
                                <div class="form-group" id="smtp_security">
                                    <label class="col-sm-2 control-label">Connection security</label>
                                    <div class="col-sm-2">
                                        <div class="checkbox i-checks">
                                            <label><input type="checkbox" value="0" name="connection"  {% if media_info.email_use_ssl %} checked {% endif %}>SSL</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="checkbox i-checks">
                                            <label><input type="checkbox" value="1" name="connection"  {% if media_info.email_use_tls %} checked {% endif %}>TSL</label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li style="list-style-type:none">
                                 <div class="form-group" id="extra">
                                    <label for="extra" class="col-sm-2 control-label">已启用<span class="red-fonts"></span></label>
                                    <div class="col-sm-8">
                                        <input type="checkbox" value="1" name="extra" {% ifequal media_info.status '1' %}checked {% endifequal %}>
                                    </div>
                                </div>
                            </li>
                            <li style="list-style-type:none">
                                <div class="form-group">
                                    <label for="comment" class="col-sm-2 control-label">备注</label>
                                    <div class="col-sm-8">
                                        <input id="comment" name="comment"  type="text" class="form-control" value="{{ media_info.comment }}">
                                    </div>
                                </div>
                            </li>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white" type="reset" id="btn_reset">取消</button>
                                    <button id="submit_button" class="btn btn-primary" type="submit">确认保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block self_footer_js %}
<script>
$('#groupForm').validator({
    timely: 2,
    theme: "yellow_right_effect",
    fields: {
        "media_name": {
            rule: "required",
            tip: "用户输入媒介名称",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "smtp_host": {
            rule: "required",
            tip: "输入邮件服务器",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "smtp_host_port": {
            rule: "required",
            tip: "输入邮件服务器端口",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "email_user": {
            rule: "required",
            tip: "输入邮件地址",
            ok: "",
            msg: {required: "必须填写!"}
        },
        "email_user_password":{
            rule:"required",
            tip:"输入用户密码",
            ok: "",
            msg: {required: "必须填写!"}
        }
    },
    valid: function(form) {
        form.submit();
    }
});

</script>

<script type="text/javascript">
    $(document).ready(function() {
		// type of media
		$('#media_type').change(function() {
			switch ($(this).val()) {
				case '0':
					$('#smtp_host, #smtp_host_port, #email_user, #email_user_password, #smtp_security, #extra').closest('li').show();
					$('#comment').closest('li').hide();
{#					$('#eztext_link').hide();#}

					// radio button actions
{#					toggleSecurityOptions();#}
{#					toggleAuthenticationOptions();#}
					break;

				case '1':
					$('#comment').closest('li').show();
					$('#smtp_host, #smtp_host_port, #email_user, #email_user_password, #smtp_security, #extra').closest('li').hide();
{#					$('#eztext_link').hide();#}
					break;
			}
		});

        $('#btn_reset').click(function(){
            window.location.href = '{% url "media_list" %}'
        })

	});
</script>
{% endblock %}